[2014-11-24 11:38] #1192 closed, assigned to sjrd

[2014-11-24 11:38] #1260 closed, assigned to sjrd

[2014-11-24 11:38] #1284 closed, assigned to sjrd

[2014-11-24 11:39] #1272 closed, assigned to sjrd

[2014-11-24 13:47] gzm0 opened #1302 "Use sbt provided class loader for PhantomJS in CI"

[2014-11-24 13:57] #1282 closed, assigned to gzm0

[2014-11-24 16:32] gzm0 opened #1304 "PhantomJSEnv has a limited message size on Windows"
This causes #1289 to fail

[2014-11-24 19:42] #1025 closed, assigned to sjrd

[2014-11-24 23:57] #1296 closed, assigned to nobody

[2014-11-25 09:54] gzm0 opened #1306 "Override ExecutionContext.Implicits.global with JS Queue Execution Context"
The default global `ExecutionContext` really **never** makes sense in Scala.js.

[2014-11-25 13:01] #1304 closed, assigned to gzm0

[2014-11-25 17:40] gzm0 opened #1308 "Make RuntimeDOM autoImported"
~~They are~~ It is needed to write stuff like:

[code]

[2014-11-25 20:32] #1302 closed, assigned to gzm0

[2014-11-26 09:33] sjrd opened #1311 "Remove custom testFrameworks setting in sbt plugin"
So that we get the same experience as with Scala/JVM: just drop in your dependency on the framework of your choice, write tests, and it works.

Note: for cross-compiling testing frameworks, you'd still have to add them manually in the JVM project of your cross-project. Can we do anything about that?

[2014-11-26 11:29] #1308 closed, assigned to gzm0

[2014-11-26 15:08] #1306 closed, assigned to gzm0

[2014-11-27 06:04] gzm0 opened #1314 "RhinoJSEnv does not close com, when runner fails"
This is what caused the spurious hangs

[2014-11-27 06:32] gzm0 opened #1315 "Add timeout to AsyncJSRunner.await and use it in test-adapter"

[2014-11-27 10:55] gzm0 opened #1316 "Static initializers and static fields in IR?"
Just to safeguard against someone maybe wanting to compile Java to JavaScript

[2014-11-27 13:27] #1073 closed, assigned to gzm0

[2014-11-27 13:27] #1314 closed, assigned to gzm0

[2014-11-27 15:43] sjrd opened #1318 "Configuration to publish to OSS Sonatype"

[2014-11-27 18:04] gzm0 opened #1319 "PhantomJSEnv uses ClassLoader of companion as default"

[2014-11-27 18:40] gzm0 opened #1320 "TestAdapter does not allow multiple messages sends"
If the client test framework sends multiple messages, the adapter will await for the ok massage and not accept another message.

[2014-11-28 09:33] #1287 closed, assigned to gzm0

[2014-11-28 09:33] #1319 closed, assigned to gzm0

[2014-11-28 09:39] gzm0 opened #1321 "Implement setTimeout / setInterval in Rhino"

[2014-11-28 10:10] gzm0 opened #1322 "Give better error messages in Rhino when non existing class is loaded"

[2014-11-28 11:56] michelschinz opened #1324 "Date.parse should return a Double, not an Int"
Hi,
In `library/src/main/scala/scala/scalajs/js/Date.scala`, the `parse` method of the `Date` object is declared as returning an `Int`. This should be changed to `Double`.

[2014-11-28 12:10] gzm0 opened #1325 "Node.js com does not decode incoming messages repeatedly"

[2014-11-28 14:42] gzm0 opened #1328 "Node.js com does not properly handle errors on sockets"
Notably EPIPE can be expected when the JVM closes

[2014-11-28 15:13] gzm0 opened #1330 "Remove sleep-wait in PhantomJSEnv"

[2014-11-28 19:56] #1318 closed, assigned to sjrd

[2014-11-28 21:46] #1320 closed, assigned to gzm0

[2014-11-28 21:46] #1325 closed, assigned to gzm0

[2014-11-28 21:46] #1328 closed, assigned to gzm0

[2014-11-28 23:36] #1324 closed, assigned to gzm0

[2014-11-29 16:23] sjrd opened #1331 "`%%%` seems broken with "illegal dynamic reference""
The following causes an "illegal dynamic reference: autoImport" error to be reported by sbt:

[code]

If I inline the body of the `%%%` macro, everything works fine:

[code]

[2014-11-29 18:46] gzm0 opened #1332 "Adapt package name in CLI runners"

[2014-11-29 18:57] sjrd opened #1333 "Mimic the SourceFile attribute of JVM class files"
The JVM only stores unqualified source file names in .class files, and can then provide source files from source artifacts or src/ folders. Maybe we should do the same for `.sjsir` files, which would make obsolete the need for remapping to GitHub sources (which is a bit hacky).

[2014-11-29 20:15] sjrd opened #1334 "HTML runners for the testSuite refer to old JasmineTestFramework"
https://github.com/scala-js/scala-js/blob/550b63d240e3126802d320a08cb9a9fda3c03791/test-suite/run-jasmine-tests.js#L2
`JasmineTestFramework` should be `TestSuiteContext`.

[2014-11-29 20:27] sjrd opened #1335 "Source maps to Scala library are broken"
For example they try to send to
https://raw.githubusercontent.com/scala/scala/v2.11.2/scala/Array.scala
instead of
https://raw.githubusercontent.com/scala/scala/v2.11.2/src/library/scala/Array.scala
(note the missing `src/library/` subpath).
This was most probably caused by #1217.

[2014-11-29 20:35] sjrd opened #1336 "Source maps on 2.10 fullOpt seem broken"
Positions are completely off, in an arbitrary way. Probably a mismatch on the JS side.
2.11 fullOpt and 2.10 fastOpt work.

[2014-11-30 15:33] gzm0 opened #1339 "Calling stop on ExternalJSEnv does not complete associated Future"

[2014-11-30 22:36] #1315 closed, assigned to gzm0

[2014-11-30 22:36] #1330 closed, assigned to gzm0

[2014-11-30 22:36] #1339 closed, assigned to gzm0

[2014-11-30 22:36] #1332 closed, assigned to gzm0

[2014-12-01 09:23] sjrd opened #1343 "Retry mechanism when launching a Com PhantomJS runner"
All our recent spurious failures on CI have been due to PhantomJS not connected error. We can probably avoid wasting lots of computing power (and time) by retrying a few times automatically (with logged warnings).

[2014-12-01 16:31] #1331 closed, assigned to gzm0

[2014-12-01 16:32] #1334 closed, assigned to gzm0

[2014-12-01 18:15] #1343 closed, assigned to gzm0

[2014-12-01 23:09] #1335 closed, assigned to gzm0

[2014-12-02 20:20] #1067 closed, assigned to gzm0

[2014-12-03 07:16] gzm0 opened #1347 "Document ECMAScript versions in core facade types"

[2014-12-03 12:33] #1336 closed, assigned to nobody

[2014-12-03 13:22] gzm0 opened #1349 "Auto-completion in runMain task does not work"

[2014-12-03 13:29] gzm0 opened #1351 "Parser for runMain task allows arguments (but ignores them)"

[2014-12-04 11:40] #1349 closed, assigned to gzm0

[2014-12-04 11:40] #1351 closed, assigned to gzm0

[2014-12-04 12:45] gzm0 opened #1354 "Document stuff that can be put on `__ScalaJSEnv`"
I propose doing this by writing a facade type in `sjs.runtime`.

Currently, we have:
- `sourceMapper`
- `exitFunction`
- `global`
- `exportsNamespace`

[2014-12-04 12:48] gzm0 opened #1355 "Implement `System.exit` for Rhino"
IIUC there is no reason we cannot use a `ControlThrowable` to do that.

[2014-12-04 13:04] #1355 closed, assigned to nobody

[2014-12-04 13:09] gzm0 opened #1357 "Base the cross version suffix in artifacts on the binaryEmitted version"

[2014-12-04 15:41] #1059 closed, assigned to gzm0

[2014-12-04 17:26] #1357 closed, assigned to gzm0

[2014-12-05 17:33] #1321 closed, assigned to gzm0

[2014-12-05 18:05] #1294 closed, assigned to gzm0

[2014-12-06 08:59] #1180 closed, assigned to gzm0

[2014-12-07 08:13] #1214 closed, assigned to sjrd

[2014-12-07 22:27] sjrd opened #1363 "Eclipse projects produced for cross-projects don't work out-of-the-box"
Paths to shared sources should be _linked sources_ instead of normal source folders. The `eclipse` command only produces normal source folders.
sbteclipse's `classpathTransformerFactories` might help us achieve something, here.

[2014-12-08 08:04] gzm0 opened #1367 "Add facade types for setTimeout et al."
Depends on #1347 (to show that they are non-standard)

[2014-12-08 08:54] #1354 closed, assigned to gzm0

[2014-12-08 14:16] gzm0 opened #1369 "Class inliner emits normal statements in wrong order"
Consider the following (assuming scalac emits all fields as mutable):

[code]

Without optimizations gives: 1, 2
With optimizations: 1, 1

*\* Generated code **

No optimizations:

[code]

With optimizations:

[code]

[2014-12-08 14:25] #1322 closed, assigned to gzm0

[2014-12-08 17:50] sjrd opened #1370 "sbt setting to turn link errors into, well, errors"

[2014-12-10 10:01] #1333 closed, assigned to nobody

[2014-12-10 12:30] #1316 closed, assigned to nobody

[2014-12-10 12:34] #1369 closed, assigned to gzm0

[2014-12-10 16:10] sjrd opened #1374 "IntType, FloatType and DoubleType should not be exact"
The optimizer thinks that `IntType`, `FloatType` and `DoubleType` are exact. This is not true, and causes for example `(5: Any).instanceOf[Float]` to be optimized as `false`, although it should be `true`.

[2014-12-10 23:09] #1226 closed, assigned to gzm0

[2014-12-11 05:15] #1297 closed, assigned to sjrd

[2014-12-11 05:15] #1374 closed, assigned to sjrd

[2014-12-11 13:21] gzm0 opened #1375 "RhinoJSEnv propagates exceptions when loading to JavaScript"
Introduced with #1322 (95939276c67a4eb01028ebcca5793db16af834f)

[2014-12-11 16:45] sjrd opened #1377 "RhinoJSEnvTest.intervalTest is flaky"
Example error:

[code]

I've seen that kind of error happen a few times in the last couple of days. The details vary.

[2014-12-12 07:12] #1375 closed, assigned to gzm0

[2014-12-12 09:56] gzm0 opened #1381 "Add a way to export a top-level method/value"
Some APIs (at least the Google maps API) need the name of a callback function as a get parameter. They apparently do not allow calling a method to get the callback (see [SO Post](http://stackoverflow.com/questions/27440235/using-scala-js-method-as-callback)).

This is a problem for Scala.js interop, since it basically requires adding a tiny bit of JS wrapper code or abusing a module initializer.

[2014-12-12 16:34] papauschek opened #1382 "[0.6.0-M2] Generic isInstanceOf[T] seems to always return true"
The following filter should filter a List[Any] according to a given type T and return only elements of that type:

[code]

However, the assert fails and returns ALL elements (the isInstanceOf[T] check passes all elements for some reason) =/

The non-generic version works fine:

[code]

Any ideas why this is happening? Or is this some known limitation I have missed?

[2014-12-12 21:03] #1382 closed, assigned to nobody

[2014-12-13 21:19] sjrd opened #1383 "Rethink the scala.scalajs.js package"
(See #1384 for the first half (the non-controversial one) of what was here in the beginning.)

There are facade types and values in `scala.scalajs.js` that should really not be used in typical scenarios, and could be removed:
- I'd reopen a case for removing (deprecating first) the aliases `js.{String,Boolean,Number,Undefined}`.
- `js.isUndefined(x)` used to be useful when `UndefOr` did not exist

[2014-12-14 10:25] sjrd opened #1384 "Remove more magic from the scala.scalajs.js package"
(This is the first part of the original #1383 - the non-controversial points)

Considering the advances in JS interoperability, and the advances in reducing the number of compiler primitives, and all that, I realize there's still plenty of magic in `scala.scalajs.js` that could be removed:
- In `js.Dynamic`:
  - `selectDynamic` and `updateDynamic` can be `@JSBracketAccess` rather than primitives

[2014-12-14 11:18] sjrd opened #1385 "js.Dynamic <: scala.Dynamic causes unsoundness in the IR"
Since `js.Dynamic <: scala.Dynamic`, it is possible to put any value in a `scala.Dynamic` by casting it to a `js.Dynamic`, and then upcasting it `scala.Dynamic`. Therefore, `scala.Dynamic` should be typed as `AnyType` in the IR, and be handled accordingly (desugar to helpers, prevent `isInstanceOf[scala.Dynamic]`).

[2014-12-15 14:01] #1377 closed, assigned to gzm0

[2014-12-15 14:04] #1021 closed, assigned to gzm0

[2014-12-15 14:34] gzm0 opened #1388 "Allow to change the Scala.js compile version in the sbt plugin"

[2014-12-16 09:50] #1388 closed, assigned to nobody

[2014-12-16 09:51] #1385 closed, assigned to nobody

[2014-12-17 07:26] gzm0 opened #1389 "Partest fails on 2.11.2 JDK7 in nightly: Investigate"

[2014-12-17 16:09] #1363 closed, assigned to nobody

[2014-12-18 13:01] #1384 closed, assigned to sjrd

[2014-12-18 17:28] #1389 closed, assigned to sjrd

[2014-12-19 00:03] #1383 closed, assigned to sjrd

[2014-12-19 06:48] kanterov opened #1394 "Referring to non-existent method jl_Class.getInterfaces__Ajl_Class"
Hi,

I'm running scala-js project with compiler v0.5.6 with following dependencies:
- `"com.github.japgolly.scalajs-react" %%% "ext-scalaz71" % "0.5.0"`
- `"com.xored.scalajs" %%% "scalajs-react" % "0.3.2"`
- `"org.scala-lang.modules.scalajs" %%% "scalajs-dom" % "0.6"`
- `"name.myltsev" %% "shapeless_sjs0.5" % "2.0.0"`
- `"org.typelevel" %%% "scodec-core" % "1.6.0"`
- `"org.typelevel" %%% "scodec-

[2014-12-19 09:50] #1394 closed, assigned to nobody

[2014-12-19 10:25] sjrd opened #1395 "Clean infos"
Easy refactorings:
- ~~`RoughClassInfo`~~ -> `ClassInfo`
- Move `OptimizerHints` to trees
- Remove `name` from info (recoverable from `encodedName`)
- Add abstract methods to the trees in the IR
- Check infos <-> trees

Hard stuff: reorganize infos for exported methods:
- Exported methods get real info
- Exporter forwarders do not get the `isExported` flag
- Infos of exported constructors go into

[2014-12-19 10:26] sjrd opened #1396 "Test weird shadowing/deshadowing of package-private methods"
With three classes, `pack1.A <: pack2.B <: pack1.C`. `B` and `C` both have a package-private method `m`. From the point of view of `A`, `m` means `C.m`.

[2014-12-19 10:27] sjrd opened #1397 "IR-check that exported methods do not contain `__`"

[2014-12-19 10:56] #1396 closed, assigned to nobody

[2014-12-19 12:19] #1397 closed, assigned to gzm0

[2014-12-19 12:23] gzm0 opened #1399 "JSDesugar does not propagate Closure parameters to the environment"
Originating partests:
`run/t4332b.scala`
`run/t5377.scala`
`run/view-iterator-stream.scala`

[2014-12-19 19:22] #1395 closed, assigned to sjrd

[2014-12-19 20:04] #1399 closed, assigned to gzm0

[2014-12-19 21:19] neocxi opened #1402 "Traversers doesn't handle the case of scala.scalajs.ir.Trees$Debugger"
scala.js is an awesome project! I tip my hat to the team. I encountered possibly an optimizer bug when I was trying out scala.js:

The issue seems to be that Traversers doesn't handle the case of scala.scalajs.ir.Trees$Debugger
https://github.com/scala-js/scala-js/blob/master/ir/src/main/scala/org/scalajs/core/ir/Traversers.scala#L193

Way to reproduce:
sbt run this repo https://github.com/neocxi/

[2014-12-20 08:36] gzm0 opened #1404 "IR-check infos"

[2014-12-20 14:39] #1402 closed, assigned to sjrd

[2014-12-21 16:25] alexandru opened #1406 "Failure on TimeoutException, missing from javalanglib?"
Sample:

[code]

These 2 exceptions are mirroring [java.util.concurrent.TimeoutException](https://docs.oracle.com/javase/7/docs/api/java/util/concurrent/TimeoutException.html) and [java.util.concurrent.CancellationException](https://docs.oracle.com/javase/7/docs/api/java/util/concurrent/CancellationException.html). And are pretty standard for signaling a timeout in asynchronous execution, or that

[2014-12-21 22:47] sjrd opened #1408 "packageJSDependencies is broken"
Found this while adapting the tutorial to 0.6.0-M2, at step 5, with `packageJSDependencies` enabled:

[code]

[2014-12-22 10:43] gzm0 opened #1409 "Add an InfoBuilder to IR and use it where we manually construct trees"

[2014-12-22 10:49] gzm0 opened #1410 "Cleanup ScalaJSOptimizer"

[2014-12-22 11:03] sjrd opened #1411 "Remove js.Dictionary.get()"
By removing it, it will fall back to `js.WrappedDictionary.get()`, which provides the familiar collection API, and does not suffer the problem of `undefined` being in the dictionary.

[2014-12-22 11:26] sjrd opened #1414 "Use a safe version of `hasOwnProperty` in `js.Dictionary.contains`"
See http://www.devthought.com/2012/01/18/an-object-is-not-a-hash/ for the long version.
If we put an entry with key `"hasOwnProperty"` to the dictionary, `dict.contains(key)` calls `dict.hasOwnProperty(key)` which is broken.
We need to call `js.Object.prototype.hasOwnProperty.call(dict, key)` instead.

[2014-12-22 16:57] gzm0 opened #1415 "js.GlobalScope should not extend js.Object but js.Any"

[2014-12-22 17:46] #1406 closed, assigned to nobody

[2014-12-23 01:39] drdozer opened #1417 "Include stub for BigDecimal"
I've got some code that says:

[code]

This causes the scala-js optimizer to wig out because apparently the implementation of double ranges uses a BigDecimal, and BigDecimal isn't part of the scala-js re-implementation of Java.  It refuses to run the inliner at all on my project. So:
1. is it possible to add a BigDecimal stub to scala-js?
2. is there a work-around that I can use from my side to fo

[2014-12-23 15:13] #1370 closed, assigned to gzm0

[2014-12-23 16:24] #1347 closed, assigned to gzm0

[2014-12-23 16:24] #1367 closed, assigned to gzm0

[2014-12-23 16:24] #1415 closed, assigned to gzm0

[2014-12-24 07:27] #1414 closed, assigned to sjrd

[2014-12-24 11:21] gzm0 opened #1419 "IRChecker does not verify method existence on receiver"
It does check existence for fields.

[2014-12-24 12:26] #1411 closed, assigned to sjrd

[2014-12-24 14:53] #1408 closed, assigned to sjrd

[2014-12-25 00:22] #1417 closed, assigned to nobody

[2014-12-25 11:39] gzm0 opened #1421 "GenJSCode emits wrong kind for RawJS interfaces"
The kind of a RawJS interface is `Interface`, rather than `RawJSType`.

[2014-12-28 06:08] #1410 closed, assigned to gzm0

[2014-12-28 06:08] #1421 closed, assigned to gzm0

[2014-12-29 20:02] alexandru opened #1423 "String.getBytes returns trailing zeroes"
String.getBytes has different behavior between JVM / JS runtimes. When called from Scala.js, the output has a variable number of trailing zeroes.

Tested with:
- Scala 2.11.4
- Scala.js 0.6.0-M3
## Sample 1 (UTF-8)

[code]

Output (one zero at the end appended erroneously):

[code]
## Sample 2 (UTF-16)

[code]

Output (lots of trailing zeroes appended erroneously):

[code]

[2014-12-30 20:48] #1423 closed, assigned to gzm0

[2015-01-02 11:05] #1311 closed

[2015-01-02 16:09] l15k4 opened #1428 "PhantomJSEnv autoExit false doesn't work in 0.6.0-M3"
Hi,

tests are executed/started only for setting "autoExit =true", if I set autoExit to false it gets stuck indefinitely, no tests are actually executed, the utest runner doesn't even seem to be started. I can't figure out the cause.

[code]

[info] Fast optimizing /home/lisak/src/viagraphs/scalajs-rx-idb/target/scala-2.11/scalajs-rx-idb-test-fastopt.js
[debug] Read info: 439661 us
[debug] Compute

[2015-01-02 17:55] antonkulaga opened #1429 "SimpleDateFormat"
It would be nice to have working SimpleDateFormat

[2015-01-02 20:43] gzm0 commented on #1428
If you set `autoExit = true` are your tests execute properly? The 0.6.x test interface brings true support for asynchronous tests (and the uTest interface uses it), therefore, autoExit should not be necessary anymore.

Any runner will not terminate until the test framework considers the test to be completed.

We probably should warn or even fail if tests are executed with `autoExit := true` (that

[2015-01-02 23:15] l15k4 commented on #1428
Well, I was hoping the `autoExit = false` would be backported because I went through [so many struggles](https://groups.google.com/forum/#!msg/scala-js/2b7fycjputY/9ccTOLouwRcJ) using uTest via SBT that I have all my apps using it [programmatically](https://github.com/lihaoyi/utest/blob/master/js/shared/main/scala/utest/framework/Model.scala#L124), and I still believe it's the best way of testing,

[2015-01-03 09:33] l15k4 commented on #1428
I started to migrate the tests under `scalajs-test-interface`, it's going good so far except for a new non-deterministic phantomJS errors. Which is a straight nightmare. It happens ~ evey third test run. I'm gonna have to leave it be because last time it almost made me insane.

*** Error in `phantomjs': double free or corruption (!prev): 0x00007f79f0001640 ***
======= Backtrace: =========
/lib/x86

[2015-01-03 14:36] l15k4 commented on #1428
@gzm0 The integration turned out to be pretty smooth. Apart from the PhantomJS issue it went really well. I still depend on a [uTest PR](https://github.com/lihaoyi/utest/pull/40/commits) that executes tests in a flatMap manner instead of them being executed fully asynchronously. But I got rid of the autoExit thingy... So now the only use case I can think of is for programmatical asynchronous testi

[2015-01-04 18:15] sjrd commented on #1428
What's the status of this issue, exactly? I fail to understand where we are, what doesn't work, and under which circumstances? There is no reason to drop support for `autoExit = false`, it can still be useful for `run`s and possibly for `test`s not using the testing interface.

That's a feature that the testing framework should provide. As such, the testing interface is not responsible for it.

[2015-01-04 18:20] gzm0 commented on #1428
What does not work is: Testing with PhantomJS, if `autoExit = false`. This is of course not a reason to drop `autoExit` support (which does work), but it would be good to inform the user.

However, this leads again to the option management/typing problem we had with source maps. (Do we want to add a trait `HasAutoExit` so we can safely verify `autoExit`).

[2015-01-04 18:33] sjrd commented on #1428
Is this an inherent limitation or is it fixable? How is `autoExit` even supposed to behave when using the testing interface?

[2015-01-04 18:35] gzm0 commented on #1428
This is an inherent limitation. `autoExit = false` only makes sense, if the program itself calls `System.exit` to manually terminate the VM. Having `System.exit` in a test is bad (in JS and JVM) as it will kill too much.

`autoExit = false` is a more lower level functionality than the testing interface.

[2015-01-04 18:40] sjrd commented on #1428
Then we can just mention this in the documentation of `autoExit`, as a nota bene.

[2015-01-04 20:47] l15k4 commented on #1428
Imho the need for `autoExit=false` concerns especially testing frameworks that allows for programmatic asynchronous testing such as uTest does where you manage the testing lifecycle yourself. Otherwise the framework should be `scalajs-test-interface` compliant and `autoExit=false` kinda would not be necessary because it is able to tell when async tests end.

I'm big fan of the programmatic approac

[2015-01-04 21:03] l15k4 opened #1430 "ClassTag unapply method (for deconstruction) depends on Object#getClass which fails on raw JS objects"
Details on [google groups](https://groups.google.com/forum/#!topic/scala-js/Pw2_WLirbns). This is just to record this fact for future reference.

[2015-01-04 23:02] #1113 closed

[2015-01-04 23:31] japgolly commented on #1113
AWesome! Thanks again! This will provide an important, extra little piece of mind when closed-source projects go to prod.

[2015-01-05 10:39] sjrd opened #1431 "j.l.Class.isInstance does not work for raw JS classes"
The following does not work as expected:
[code]
It always displays `false` because it tries to perform the type test as if `HTMLElement` were a Scala.js class.
We could fix this by providing a custom `isInstance` function to the type data of raw JS classes.

For raw JS traits, there's nothing we can do, since `isInstanceOf` itself is not supported.

Fixing this is a prerequisite for #1430.

[2015-01-05 14:20] sjrd opened #1432 "Raw JS types do not record their superclass and parents"
This is a problem for arrays of these types, since it must be possible to check the subtyping relationships of arrays based on the declared subtyping relationships of the raw JS types.

Therefore, raw JS types should record their parents, and raw JS classes should also record their superclass.

Fixing this is, to some extent, binary incompatible.

[2015-01-06 13:19] sjrd opened #1434 "Nightly partest fastOpt is broken with 3 Output differs"
Seems like some `NoWarnMissing` are not taken into account.
https://scala-webapps.epfl.ch/jenkins/job/scalajs-task-worker/25180/consoleFull

[code]

[code]

[code]

[2015-01-06 14:01] sjrd commented on #1431
The IR does not contain the information necessary to implement this feature. We would need the `ClassDef` of a raw JS class to retain the FQN of the JavaScript constructor behind it, which, due to `@JSName`, cannot be inferred from the class' `encodedName`. We don't even have a proper place in the `ClassDef` to store this information ...

I'm not sure yet what I want to do with this.

[2015-01-06 17:49] #1434 closed

[2015-01-08 13:17] sjrd opened #1440 "Crash in GenJSCode with @varargs"
From partest `pos/t8743.scala` from 2.11.5.

[2015-01-08 13:20] sjrd opened #1441 "j.l.Class.getEnclosingClass is declared but ill-implemented"
It always returns `null`. We should just remove that definition, and let the linker complain.
Found in partest `run/t8445.scala` of 2.11.5.

[2015-01-08 13:23] sjrd opened #1442 "Need to backport scala/2c4ef6b8bfa87b31db79ebc9a5c2c123149f6fb8"
From partest `run/t9030.scala` of 2.11.5
This causes the following exception:
[code]
We need to backport the temporary fix applied in https://github.com/scala/scala/commit/2c4ef6b8bfa87b31db79ebc9a5c2c123149f6fb8

[2015-01-08 15:43] sjrd opened #1443 "compiler.{JSExportsTest, JSDynamicLiteralTest} crash DirectTest in 2.11.5"

[2015-01-08 16:56] sjrd commented on #1443
Since testing "manually" on the side, without `DirectTest` in the way, worked, I'll differ the fix to this one to a later release.

[2015-01-09 08:58] #1440 closed

[2015-01-09 08:58] #1441 closed

[2015-01-09 08:58] #1442 closed

[2015-01-09 17:16] #1404 closed

[2015-01-09 17:16] #1409 closed

[2015-01-09 17:16] #1432 closed

[2015-01-09 19:11] #1430 closed

[2015-01-09 19:11] #1431 closed

[2015-01-10 05:10] sjrd opened #1445 "run/t6253{a,b,c} should be blacklisted"
They take way too much time, and even so much memory that they fail from time to time on CI with Rhino.

[2015-01-11 21:54] fommil opened #1446 "sbt skips tests if scala-js is used"
I created a little project that I plan to turn into a simple one page HTML page

  https://github.com/fommil/kerbal-calculator

but if I uncomment the lines in `build.sbt` to enable scalajs, then `sbt test` no longer runs my tests.

[2015-01-11 22:06] lihaoyi commented on #1446
Scalatest doesn't work in Scala.js. You'll have to use one of

- https://github.com/lihaoyi/utest
- https://github.com/monifu/minitest
- https://github.com/cgta/otest

Or something else that cross-compiles =)

[2015-01-11 22:36] fommil commented on #1446
but I want to run the tests for the compiled scala code, not the compiled javascript. Isn't that allowed?

[2015-01-11 22:37] fommil commented on #1446
I mean, the javascript output is just an experiment for me, I want to keep writing my code with scalatest. If I decide that scalajs is a target I care about here (I might do) then I suppose I should port all my tests.

[2015-01-11 23:23] lihaoyi commented on #1446
The problem is that turning on Scala.js for the main project means you will both compile it to Javascript, and run tests for it in Javascript. If you want to run tests in Scala but also compile it to Javascript, you can create a subproject with Scala.js plugin enabled, copy over all your settings to it, make it share the source code, and use that to generate Javascript output. This is documented h

[2015-01-12 11:26] tindzk opened #1447 "Native indexOf() for js.Array"
``indexOf()`` is implemented in ``js.Array`` using an implicit although JavaScript already provides an implementation out of the box. If I understand correctly, implicits incur a run-time overhead when used on native JavaScript collection types.

[2015-01-12 12:12] sjrd commented on #1447
The implicits are inlined away by the Scala.js optimizer. So no, there is no runtime overhead.

[2015-01-12 12:12] #1447 closed

[2015-01-12 12:16] tindzk opened #1448 "Improve stack traces"
In the stack trace there is a spare ``ScalaJS.c.sjsr_AnonFunction1.apply__O__O`` entry for each anonymous function call. I find that it considerably reduces the readability as seen here:

![stacktrace](https://cloud.githubusercontent.com/assets/196819/5702567/f8c75734-9a5b-11e4-9916-4090e8781b27.png)

I had a look at the source which explicitly states that the class should get inlined anyway. If t

[2015-01-12 12:43] sjrd commented on #1448
We can't format the identifiers in dev releases. It should be the job of the debugger to find the original names in the source maps (which we emit), but currently no debugger reads the original names data.

The `AnonFunctionN`s are indeed an overhead if they appear in the stack trace. Maybe someday we'll manage to get rid of them with a (much) smarter optimizer (I have ideas, but it'll be a consid

[2015-01-12 14:07] tindzk commented on #1447
Yes, implicits are inlined, but it still rolls out its own version of ``indexOf()``. I just verified with the following code:

[code]

This results in:

[code]

Ideally, it should use the native ``indexOf()`` for ``testA``, too.

[2015-01-12 14:14] sjrd commented on #1447
No, ideally it would do exactly what it does. Its own rolled out version of `indexOf` is faster than the "native" one. *And* it follows the Scala semantics of `==`, which the "native" version doesn't do.

[2015-01-12 15:14] tindzk commented on #1447
Thanks for pointing this out. Intuitively, I would have assumed the native version to be faster though, but apparently ``indexOf()`` also does a has-property check which makes it slower (see also http://jsperf.com/js-for-loop-vs-array-indexof).

[2015-01-12 19:07] #1445 closed

[2015-01-12 21:42] fommil commented on #373
:+1: I wanted to turn my little kerbal calculator into a webapp but I'm stopped because of this https://github.com/fommil/kerbal-calculator/tree/11620af869db57e1309d09097b1852a24f7e1035 this commitid is potentially a good testing ground for anyone wanting to implement this.

[2015-01-12 21:54] sjrd commented on #373
@fommil Oops, I'm sorry, I accidentally deleted your comment :-s Fat fingers :-s

That said, if all you're using is `math.log`, I suggest you use `Math.log`, which works. (with a capital `M`)

[2015-01-12 22:02] fommil commented on #373
ooh! I might try that. I've documented the ticket in my tracker so that's enough. I really just wanted to say :+1:

[2015-01-12 22:08] fommil commented on #373
weird, the `log` wasn't causing the problem in the stacktrace, it was some code that looked like this

[code]

and the `(1 to 8).toStream` and `numEngines == 1` lines seemed to be causing the problem.

[2015-01-12 22:48] sjrd commented on #373
I would think it's the `0.0 to tank.max by tank.max / 100`. The ranges over `Double`s use indirectly `BigDecimal`, which you should therefore avoid. Ranges over `Int`s, such as `1 to 8`, should work without problem.

[2015-01-12 23:14] fommil commented on #373
I'll maybe give this another try, and that line is crap anyway

[2015-01-13 01:28] japgolly opened #1450 "0.6.0-RC1 trying to pull in jetty"
I started work upgrading Scalaz. I made this commit: https://github.com/japgolly/scalaz/commit/498b6552b6f36faf4a097f960d7d31d5afd070b3.

Scala.JS seems to be trying to add `jetty-websocket;8.1.16.v20140903`. I can see it in Scala.JS codebase; Scalaz makes no mention of jetty.

Checkout https://github.com/japgolly/scalaz branch `v7.1.0-js`, run `sbt clean` and get
[code]

[2015-01-13 06:16] sjrd commented on #1450
It's normal that it wants to download jetty. It needs it internally for communicating with a running `PhantomJS`. But don't worry, it does not put it on your project classpath.

That said, this error is still definitely not normal. I'll take a look today.

[2015-01-13 06:39] japgolly commented on #1256
If someone in the community could carry this on over the line that'd be great.

[2015-01-13 06:52] sjrd commented on #1450
Completely untested because I'm on mobile, but does it work if you define this in your `Build.scala`:
[code]

[2015-01-13 07:00] japgolly commented on #1450
Hey Seb. Tried. Did nada. Same error.

On 13 January 2015 at 17:52, Sébastien Doeraene <notifications@github.com>
wrote:

[2015-01-13 08:48] jokade opened #1451 "ScalaDoc run crashes with property @JSExports"
Why does the following snippet compile, but results in an assertion error during publishing:
[code]
I've checked it with `0.6.0-RC1`, `0.5.6` and `0.5.2` - same result. Here's the stack trace (for `0.6.0-RC1`:

        java.lang.AssertionError: assertion failed: <no phase>
	at scala.reflect.internal.SymbolTable.phase_$eq(SymbolTable.scala:192)
	at scala.reflect.internal.SymbolTable.pushPhase(Symbo

[2015-01-13 08:58] sjrd commented on #1450
OK, I found a fix for your repo: add the following setting in `standardSettings`:
[code]
What I don't understand is why this necessary. The Scala.js sbt plugin does that for you, normally:
https://github.com/scala-js/scala-js/blob/v0.6.0-RC1/sbt-plugin/src/main/scala/scala/scalajs/sbtplugin/ScalaJSPluginInternal.scala#L525

It seems some strange part of the scalaz build erases this setting coming

[2015-01-13 09:13] japgolly commented on #1450
Ok, cool adding that let me compile but now there's another problem.

The artifacts are missing the sjs suffix. I've got `scalaz-core_2.11` instead of `scalaz-core_sjs0.6_2.11`.

Can you confirm that I migrated properly in this commit (below)? Scalaz is the first project I'm trying to upgrade so I might have made some mistake obvious to you.
https://github.com/japgolly/scalaz/commit/498b6552b6f36f

[2015-01-13 09:14] japgolly commented on #1450
Forgot to mention, inspecting the jars I can see `.sjsir` files in there so it's mostly working.

[2015-01-13 09:22] sjrd commented on #1450
Another missing setting supposed to be set by the Scala.js sbt plugin:
[code]
https://github.com/scala-js/scala-js/blob/v0.6.0-RC1/sbt-plugin/src/main/scala/scala/scalajs/sbtplugin/ScalaJSPluginInternal.scala#L558

I'm starting to understand the problem, I think. I believe all these settings in `settings =` are applied *after* the settings set by `.enabledPlugins(ScalaJSPlugin)`. And then the `Def

[2015-01-13 09:25] sjrd commented on #1450
Otherwise, you can bypass the `AutoPlugin` aspect of `ScalaJSPlugin`, and simply revert to the old way that you did with `scalaJSSettings`, but written `ScalaJSPlugin.projectSettings` instead. (The old `scalaJSSettings` is basically equivalent to the new `ScalaJSPlugin.projectSettings`.)

[2015-01-13 09:27] japgolly commented on #1450
Oh that's awesome! I don't lose anything at all using `
ScalaJSPlugin.projectSettings` instead then?

I think your idea is right. Removing Defaults.defaultSettings seems to
work. Yay. I've never used it though so I don't know what it does and if I
need it. Googling.....

On 13 January 2015 at 20:25, Sébastien Doeraene <notifications@github.com>
wrote:

[2015-01-13 09:28] sjrd commented on #1450
Much easier, you can simply remove `Defaults.defaultSettings ++` in the definition of `standardSettings`!

[2015-01-13 09:29] sjrd commented on #1450
I think `Defaults.defaultSettings` was needed a long time ago. But now they're included by default in every `Project`, so basically adding `defaultSettings` in one's build duplicates all these settings ^^

[2015-01-13 09:32] japgolly commented on #1450
You must be right. I can't find much online but I've been using SBT for
ages and I've never needed it.

Thread #2: By removing `defaultSettings` and the `ivy.. phantom-js`
setting, it all seems to be working fine! :D

On 13 January 2015 at 20:30, Sébastien Doeraene <notifications@github.com>
wrote:

[2015-01-13 09:34] sjrd commented on #1451
Well, that's a bug ... Kind of really annoying, too. It happens when generating the ScalaDoc of your library, and it is triggered by the `@JSExport` on a `val`, `var`, or `def` without `()`.

You can work around the bug with the following sbt setting:
[code]
which deactivates the Scala.js compiler when calling ScalaDoc. It's not needed anyway to generate the doc, so that's OK.

It the work around

[2015-01-13 09:39] japgolly commented on #1450
I may have spoke too soon.... :(
I'll keep digging and report back later.

On 13 January 2015 at 20:32, David Barri <japgolly@gmail.com> wrote:

[2015-01-13 10:00] jokade commented on #1451
Yes, the sbt setting works fine. Thanks.

[2015-01-13 10:05] sjrd commented on #1451
OK, assigning to 0.6.1, then. Thanks for the feedback :-)

[2015-01-13 10:57] fommil commented on #373
@sjrd excellent, that was the line causing the problem! (the stacktrace was off by a few lines).

Yay, I can turn this into a webapp, I'm very pleased :smile:

[2015-01-13 12:03] l15k4 opened #1452 "PhantomJS doesn't shut down properly on Linux"
Hi, [details are here](https://groups.google.com/forum/#!topic/scala-js/Y6k10K5YyKI), basically what happens is that utest suite fails and PhantomJS OS process still exists which results in unpredictable errors when you run test suite again. This is the first run that ends with error :
[code]
Then you have to go and kill the process for the next run to work correctly :
[code]

Otherwise your suite

[2015-01-13 12:09] sjrd commented on #1452
Is this an 0.5.x or 0.6.x issue, or both?

It seems PhantomJS is never going to stop failing us in some cases :-(

[2015-01-13 12:11] l15k4 commented on #1452
It is scala-js M3 and last release version of PhantomJS + a few more further commits

[2015-01-13 12:20] japgolly commented on #1450
It's just old SBT setups I guess. If I remove `defaultSettings` other things go wrong. If I leave it in there, use `.enablePlugin(ScalaJSPlugin)` and add `ScalaJSPlugin.projectSettings` manually it all works.

[2015-01-13 12:20] #1450 closed

[2015-01-13 12:24] sjrd commented on #1450
Are you sure you need *both* `enablePlugins` *and* `ScalaJSPlugin.projectSettings`? That would duplicate all the settings in `ScalaJSPlugin.projectSettings`, I believe.

[2015-01-13 12:54] japgolly commented on #1450
Yeah it didn't work otherwise. I think it's as you suggested, defaultPlugins overwriting stuff, and/or the order of application. This is only specific to the older style projects where 95% of config goes in through in the `Project` constructor.

Newer projects like my non-forks are so far working fine without the double specification.

[2015-01-13 13:17] sjrd commented on #1452
@gzm0 It seems to me we should forcibly kill (with `.stop()`) the slaves and the master if they fail to close properly within a short window (`VMTermTimeout`) in `ScalaJSRunner.done()` and `stopSlaves()` in the test-adapter:
https://github.com/scala-js/scala-js/blob/v0.6.0-RC1/test-adapter/src/main/scala/org/scalajs/sbttestadapter/ScalaJSRunner.scala#L64
Or is that a bad idea?

[2015-01-13 13:53] sjrd commented on #1452
@l15k4 Could you provide a reproducible test case in a git branch somewhere, please?

[2015-01-13 14:08] l15k4 commented on #1452
It currently happens in a project I haven't open sourced yet, but I will in ~ 5-6 days. I couldn't reproduce it in the OSS.

I'll try to figure out what is the reason of it first, If I don't it'll have to wait those 5~6 days.

Btw before the master/slave architecture it usually remained in zombie mode `[phantomjs] <defunct>` which was OK, but now the process literally runs and if you don't kill it

[2015-01-14 01:19] gzm0 commented on #1452
@sjrd Yes, we can do that. Await should fail anyway, if the timeout expires, so this can be in a finally block I guess...

[2015-01-14 03:55] japgolly opened #1453 "Critical incorrect constant folding of * (-1) in the optimizer"
I'm seeing a new issue with 0.6.0-RC1 and Scala 2.10 (only; 2.11.5 is fine).
Ideas?

##### Reproduction
1. Checkout https://github.com/japgolly/nyaya
2. `git co scalajs-0.6`
3. `./sbt-210 T`

##### Problem
Tests crash like this:
[code]

[2015-01-14 07:23] japgolly commented on #1453
There's this warning that persists with `scalac.patmat.analysisBudget` set to 512, 1024, 2048.
It can't be a coincidence but I don't see how that would cause a crash _after_ compilation...

[code]

[2015-01-14 09:50] sjrd commented on #1453
The `analysisBudget` has nothing to do with this ;)

[2015-01-14 09:52] sjrd commented on #1453
It seems there is a major memory leak somewhere. Strange thing, with Rhino, it runs ^^ And with PhantomJS, it's much worse because it doesn't detect the memory blowup, and hence the RAM of my entire system when berserk (and I got 16 GB) ...

[2015-01-14 11:09] sjrd commented on #1453
OK that's a bug in the optimizer with constant folding ^^ (which is why it works in Rhino)

Can you see the obvious mistake here:
https://github.com/scala-js/scala-js/blob/v0.6.0-RC1/tools/shared/src/main/scala/org/scalajs/core/tools/optimizer/OptimizerCore.scala#L1948
? :-p

It is revealed by this downward loop:
https://github.com/japgolly/nyaya/blob/scalajs-0.6/nyaya-test/src/main/scala/japgolly

[2015-01-14 11:13] japgolly commented on #1453
Nice work as always! Glad we hit it now it the RC phase. I'm only compiling
the 2.10 build for testing and completeness but thanks for the workaround.
Everything else was perfect. In fact now that this issue is understood I'll
report on the mailing list...

On 14 January 2015 at 22:09, Sébastien Doeraene <notifications@github.com>
wrote:

[2015-01-14 11:33] japgolly commented on #1452
I'm using PhantomJS on Arch Linux with RC1 (haven't tried M3) and I'm not seeing this issue. If there's any info I can provide for comparison let me know.

[code]

[2015-01-14 11:47] l15k4 commented on #1452
I feel like I'm chasing a ghost, I can only reproduce this issue with uTest like this :
[code]

unsafeSubscribe returns `Unit`, you cannot catch any `Throwable` if you `try catch` it although the execution doesn't continue after the `try catch` statement around this statemnt, still it somehow kills the test run as you can see in the first comment. An exception is thrown within a Runnable#run in a

[2015-01-14 11:52] l15k4 commented on #1452
Basically :
[code]

results in this ouput, which leaves PhantomJS process running :
[code]

[2015-01-14 12:03] l15k4 commented on #1452
**This is it**, see, [execute](https://github.com/alexandru/monifu/blob/master/monifu-core/js/src/main/scala/monifu/concurrent/schedulers/TrampolinedScheduler.scala#L40) is not asynchronous, yet it does what I explained above, dunno why :
[code]

[2015-01-14 15:10] #1446 closed

[2015-01-14 22:20] sjrd opened #1455 "Runs for ScalaDoc complain about @JSExport(SomeFinalVal)"
[code]

[2015-01-14 23:47] benjaminjackman opened #1457 "org.scalajs.jsenv.ComJSEnv$ComClosedException: Phantom.js isn't connected"
phantomjs version: 1.9.7
java version "1.7.0_67"
Java(TM) SE Runtime Environment (build 1.7.0_67-b01)
Java HotSpot(TM) 64-Bit Server VM (build 24.65-b04, mixed mode)

When building on developer boxes we are able to use phantom js just fine, however on our jenkins build server we get the following stack trace:

[code]

This is still on 0.6.0-M3, I will try RC1 next, but I suspect it will still be a

[2015-01-15 00:20] aliquip opened #1458 "Phantomjs 2 expects a scheme name (file:///) for all urls, not just a path to local files"
Currently the launcher scripts for phantomjs use paths without a scheme-name. This works fine in phantomjs 1.9.x, not in the beta of 2.x. (adding file:/// works in 1.9.x as well, so adding in shouldn't break things)

For my project both the js file and html launcher file have not working paths because of this.

### phantomjs-launcher5730394554994009559.js
[code]
 should be
[code]

### phantomjs-la

[2015-01-15 00:27] #1453 closed

[2015-01-15 00:30] sjrd commented on #1458
Thanks for the report. This should be easy to fix.

[2015-01-15 08:10] #1451 closed

[2015-01-15 08:10] #1455 closed

[2015-01-15 10:41] sjrd commented on #1452
I think I have a local reproduction of this with the following code:
[code]
If I throw the exception in the normal flow, all goes well. But if I throw it in a `setTimeout`, I indeed have a `ComClosedException` + one instance of `phantomjs` keeps running.

[2015-01-15 10:48] l15k4 commented on #1452
But why does it happen in that synchronous Scheduler.trampoline().[execute](https://github.com/alexandru/monifu/blob/master/monifu-core/js/src/main/scala/monifu/concurrent/schedulers/TrampolinedScheduler.scala#L40)? From what I see, there is no `setTimeout` in there involved. `TrampolineScheduler` uses `setTimeout` only for `scheduleOnce` method, not for `execute`. Weird

[2015-01-15 13:59] sjrd commented on #1452
It can also happen in a synchronous context if the surrounding executer is asynchronous in some way. And for a testing framework using the asynchronous nature of the testing interface, that basically mean all the time.

[2015-01-15 15:41] #1458 closed

[2015-01-16 13:12] benhutchison opened #1461 "Errors trying to upgrade Prickle to Scalajs 0.6.0-RC1"
Background: https://groups.google.com/forum/#!topic/scala-js/NLz_g766hEQ

Code: https://github.com/benhutchison/prickle/commit/b9c4ef6d9b686c9

Current error: Some keys were defined with the same name but different types: 'jsDependencies' (scala.collection.Seq[scala.scalajs.sbtplugin.AbstractJSDep], scala.collection.Seq[org.scalajs.sbtplugin.AbstractJSDep])

[2015-01-16 13:19] jducoeur commented on #1461
Don't know that particular code, but that smells like a type alias gone awry -- when I hit errors like that, it is usually because I have both an actual type and an alias in scope, and the compiler isn't recognizing that they're actually the same type.  Are org.scalajs.sbtplugin and scala.scalajs.sbtplugin actually the same type or something?

[2015-01-16 14:14] sjrd commented on #1461
You must remove your dependency on the uTest plugin:
[code]
(or upgrade it to a version compatible with 0.6.x)
This one pulls in the Scala.js sbt plugin of 0.5.x in the classpath of your build, which obviously causes all sorts of problems.

[2015-01-17 00:00] fommil opened #1462 "cookie still not settable in 0.6.0-RC1"
[code]

gives

[code]

instead of the expected

[code]

[2015-01-17 00:02] sjrd commented on #1462
Please verify that this is actually different than the behavior in JS.
I.e., in your .html page where you observe this behavior, open a console, and write:
[code]

[2015-01-17 00:02] lihaoyi commented on #1462
Try it in the chrome console in javascript, it does the same thing

[2015-01-17 00:02] fommil commented on #1462
http://www.w3schools.com/js/js_cookies.asp

[2015-01-17 00:03] sjrd commented on #1462
As @lihaoyi said, it behaves exactly like that on Chrome (with a local .html file, at least)

[2015-01-17 00:04] fommil commented on #1462
chrome console

[code]

[2015-01-17 00:05] sjrd commented on #1462
In a page for *a local .html file*? really? I get `""` doing the same thing.

[2015-01-17 00:07] fommil commented on #1462
hmm, with a standalone HTML it doesn't print anything.

I'll investigate further. Do you think this'll work if i serve it from a webhost? How are we supposed to test that sort of thing?

[2015-01-17 00:09] sjrd commented on #1462
Yes, it will work if served from an HTTP server.
To test this, well, you need an HTTP server, even a local one.

[2015-01-17 00:10] fommil commented on #1462
god damn you, chrome http://stackoverflow.com/questions/12992494

[2015-01-17 00:10] #1462 closed

[2015-01-17 00:20] lihaoyi commented on #1462
^_^ workbench provides a HTTP server. IntelliJ does too

On Fri, Jan 16, 2015 at 4:10 PM, Sam Halliday <notifications@github.com>
wrote:

[2015-01-17 00:28] fommil commented on #1462
pppppfff, workbench? IntelliJ?

I Jedi need not these things.

https://github.com/nicferrier/elnode#how-does-it-work

[2015-01-17 04:58] benhutchison commented on #1461
Ok, helpful. Thanks!

I switched to `addSbtPlugin("com.lihaoyi" % "utest-js-plugin" % "0.2.5-RC1")` and the project loaded OK. Also, I found that since then, `%%%` resolved correctly even without the import @japgolly had suggested `import org.scalajs.sbtplugin.ScalaJSPlugin.autoImport.toScalaJSGroupID`.

Next problem: I tried to `publishLocal` a 0.6.0 version of Prickle's dependency Microjson [0.6

[2015-01-17 13:53] sjrd commented on #1461
Well, with your branch, I don't even have anything to *compile*.
[code]
No wonder the published artifact contains nothing.

[2015-01-17 15:14] benjaminjackman commented on #1457
One thing to keep in mind is that our build server where we are seeing this issue is significantly slower than our dev boxes. So if there is a race to connect to the socket, that might be the source of the problem. I see that commit fdc8c5a42d4c408549101a01a0db9a1fa0876060 might help in that regard if I understand it correctly.

[2015-01-17 23:23] benhutchison commented on #1461
Oops! Symlinks to `shared/` are not getting transferred through git.
Once fixed, could build both libraries with 0.6.0 successfully. Thanks for your help.

[2015-01-17 23:23] #1461 closed

[2015-01-17 23:34] sjrd opened #1464 "intervalSendTest deadlocks on Windows with Node.js"

[2015-01-18 19:06] jokade opened #1465 "Def macros on facade traits & SJS 1.0"
Sorry if this is a duplicate, but I didn't find an issue on this topic...

I'm using def macros to enhance bindings to a native JS library, e.g.
[code]
Since SJS 0.6 the compiler warns me that from 1.0 on only members calling `js.native` will be allowed. Will there be an exception for macros?

I know that I could use implicits to create a `RichFoo` from my `Foo`, but I don't know how to use this p

[2015-01-18 19:17] sjrd commented on #1465
There won't be exceptions for macros, unless people really really want that.
The way to go is to use an implicit extension method, as you suggest with `RichFoo`. Since it's a macro, you can easily unwrap the implicit conversion on your `prefix` at compile time (in your macro) so that the implicit class is not instantiated.

Note that, unless you really want the power of macros as such, you don't n

[2015-01-18 19:24] jokade commented on #1465
Ok. Didn't know about the trick with `AnyVal` ...
However, since I need to do some compile time reflection (extracting parameter names for runtime DI), I will probably go with your first suggestion. Thanks!

[2015-01-19 06:42] #1465 closed

[2015-01-19 12:01] sjrd opened #1466 "IR printer doesn't know about FieldDefs"

[2015-01-19 12:59] #1466 closed

[2015-01-21 23:04] #1452 closed

[2015-01-28 14:06] sjrd opened #1469 "Internal Compile Error of the Closure Compiler: "Unexpected variable NaN""
I managed to get an INTERNAL COMPILER ERROR of the Closure compiler saying "Unexpected variable NaN". This happens even though our code does not contain any NaN ^^ But the optimizations of Closure itself constant-fold something to NaN, and then it emits itself a `NaN`, but it's not happy because `NaN` is not declared in the externs, according to [this](https://code.google.com/p/closure-compiler/is

[2015-01-28 20:30] #1469 closed

[2015-01-31 02:00] SemanticBeeng commented on #1452
Seems something similar happens with this code
https://github.com/SemanticBeeng/play-scalajs-showcase/commit/4faf378bd34a761bc098b5898563319c86fe209d
and with RC2 on Ubuntu and PhantomJS 1.9.0

Hope it helps

[info] Set current project to jvm (in build file:/home/nickdsc/projects/playframework-learn/play-scalajs-showcase/)
[trace] Stack trace suppressed: run last js/test:loadedTestFrameworks for t

[2015-01-31 02:08] SemanticBeeng commented on #1452
Or is it because the code uses futures?
https://github.com/lihaoyi/utest/issues/33

[2015-02-03 19:45] matthughes opened #1471 "Crossproject artifact name changes if listed in aggregate"
If I list my project like this:

[code]

The resulting jars for commonJS and commonJVM are named correctly.  However, if I list the js/jvm projects in the aggregate:

[code]

The jars are named "commonjs_...jar", "commonjvm_...jar".

I can fix this if I specify the name in the settings, but curious if this is expected behavior:

[code]

[2015-02-03 20:10] gzm0 commented on #1471
Not, this is definitely not expected behavior, as it defies the purpose of the cross project for published libraries...

[2015-02-03 20:12] gzm0 commented on #1471
Hold on, what happens if you set the name in `crossProject`:

[code]

Are you sure this depends on whether you aggregate the projects or not?

[2015-02-03 20:13] gzm0 commented on #1471
@sjrd we should probably default-set the name based on the value we assign to...

[2015-02-03 20:14] gzm0 commented on #1471
Actually for any cross project, the default name should derive from the id of the cross project, and not the id of the individual sub-projects, right?

[2015-02-03 20:30] matthughes commented on #1471
@gzm0 You get the correct behavior if you set name on either the crossProject or the individual crossProject.js/jvm.

It does seem to only happen when you aggregate.  Without aggregation, my projects were still getting referenced and generating the appropriately named jars without having to specify name.

[2015-02-03 20:33] sjrd commented on #1471
You're not supposed to *anything* with the results of the `.js` and `.jvm` calls, except put them in `lazy val`s directly.

[2015-02-03 20:40] matthughes commented on #1471
@sjrd So how to aggregate?  You can't put a crossProject directly in aggregate.

[2015-02-03 20:42] sjrd commented on #1471
Oh, no, that, you can. I was referring to `common.js.settings(name := "common")`

[2015-02-03 20:54] sjrd commented on #1471
I thought `name` defaulted to `id` in sbt? Maybe we could override that and make it default to the `id` of the `crossProject`. It would make sense.

[2015-02-03 20:57] sjrd commented on #1471
If the mere fact of aggregating changes things, that looks more a bug of sbt than ours. Or it's a "feature". Anyway, as @gzm0 suggested, if setting `name := "common"` in the `crossProject`'s settings works, that's definitely the way to go.

[2015-02-03 21:09] gzm0 commented on #1471
Yes, it does. But the id of the real projects have JS/JVM appended. So it is actually a bug that the project names do not have the prefix all the time...

We just should make this the default in `0.6.1` and we are good.

[2015-02-03 21:10] sjrd commented on #1471
Agreed.

[2015-02-04 14:34] rparree opened #1472 "Why not package in jar?"
Hi,

I am surely missing something. But what is the reason the javascript files don't make it into the (or "a") jar file?

I am migrating some coffee code to scalajs and am first building a reference project (which i will also publish in a blog article).

I would like my server project just to depend on the "client" (js) project using regular jar files. I can then serve the javascript from using t

[2015-02-04 14:59] sjrd commented on #1472
The main reason is that the resulting .js file is not composable. It contains the whole program, and cannot be combined later with other Scala.js libraries. We want to keep .jars composable by default, which is why they contain the `.sjsir` files instead.

If you want to create a .jar that contains the .js file, for consumption as a Webjar, you probably do *not* want it to contain .sjsir files, an

[2015-02-04 15:26] rparree commented on #1472
Yes that makes sense

I have created a third project:

[code]

I can now have the server project depend on this `webjar` project

I would still have to add some directories and that will be sufficient for this project.

I am not sure how other people deal with this (i have seen tricks where the `crossTarget` of the clientjs project is set to the classes output of another). Should such a jar possib

[2015-02-04 15:33] sjrd commented on #1472
Not by default. Many Scala.js projects do not end up as Webjars. But we could have a mechanism in the sbt plugin that would allow this kind of output with a minimum of boilerplate. It would probably still require a dedicated sbt project (simply so that we can reuse all the built-in per-project metadata handling of sbt), but would otherwise be reduced to a single line of code. Maybe something like

[2015-02-04 17:11] rparree commented on #1472
I can image that the situation i have is not uncommon:

- Have some "server" project (spray, lift, play)
- server project exposing a rest api and some html app
- html app uses some front-end framework (angular, reactjs, ember,...)
- people would love to write that code in scalajs ;)

btw it does not have to be a webjar (but that probably would make sense when using it in spray/play etc)

I can ima

[2015-02-04 18:29] gzm0 commented on #1471
Hmm... we also have a constructor that takes two ids:

[code]

should we change it to take a base id (breaking change), or just not set the name in this case (a bit strange IMO)?

[2015-02-04 19:51] sjrd commented on #1472
For that use case, typically people don't even go through a Webjar. They just send the output of Scala.js to the public assets of the Webserver. For Play! there is an example project here: https://github.com/vmunier/play-with-scalajs-example

Publishing an actual Webjar is quite uncommon.

[2015-02-04 19:59] sjrd commented on #1471
Let's not break just yet, when we're finally telling people we won't be breaking things anymore ^^

We can introduce an additional overload with only ID, or, probably better, with two IDs and an explicit name.

We could also have the existing overload "guess" a name by selecting the longest common prefix of the two IDs, discarding a trailing `J` (because JS and JVM start with 'J' ^^). But that loo

[2015-02-04 20:27] gzm0 commented on #1471
We have the overload taking only a single id, so we should set the name there I suppose. We can add the one that takes an additional base name, but we could also tell people to just set it (only usage of the baseName parameter).

I am heavily opposed to guessing a name to be honest.

[2015-02-04 20:30] sjrd commented on #1471
I thought so ^^ I wasn't happy with that either.

Telling people to set the name explicitly looks OK.

[2015-02-05 01:39] SemanticBeeng commented on #373
@lihaoyi Not quite sure, from this thread, what the plans are for BigDecimal in ScalaJS.
Would you say it is best to port to Scala or use something like this https://github.com/iriscouch/bigdecimal.js

[2015-02-05 07:22] #1471 closed

[2015-02-05 10:49] rparree commented on #1472
That makes sense. However now they are not available as "resources" during development of the jvm project. I am now using the following and this makes the compiled javascript files available during development (hence can use/reference them in my IDE/IntelliJ)

[code]

[2015-02-05 18:56] SRGOM opened #1474 "Get single js file after aggressive closure compilation?"
First off, big thanks.
Is it possible to get just a single final js file with all the unused functions of the dependencies removed by google closure compiler?
What I mean is including  a library with 10K functions, using only 5 of them and hence including only 5? I know this is not directly Scala.js so a single word yes/planning/no answer would be great.

[2015-02-05 18:58] gzm0 commented on #373
IIUC, bigdecimal.js just pulls it out of GWT and packages it nicely. Since the licenses of GWT and Scala.js are compatible, we probably should just port the implementation to Scala. (Just as we have done for Longs in the past).

[2015-02-05 19:17] sjrd commented on #373
We could do that indeed.

[2015-02-05 19:50] sjrd commented on #1474
Duplicate of #761?

[2015-02-05 20:44] SRGOM commented on #1474
Yes. The general question is a duplicate of #761 and what I had in mind was jquery which is not closure advanced ready. http://bugs.jquery.com/ticket/7318

[2015-02-05 20:44] #1474 closed

[2015-02-06 01:24] SemanticBeeng commented on #373
What would be a way to go about it? (turns out I really need a basic solution asap)

Is there a way to somehow make this new lib use Scala BigDecimal for "jvm" and a Scala.JS Dynamic wrapper for https://github.com/iriscouch/bigdecimal.js for "js"? All behind a shared Scala interface?

Or you mean to port the JS code to Scala?

[2015-02-06 01:27] SemanticBeeng commented on #373
BigNum referenced about would not be a solution because of the Java dependencies, right?
https://github.com/techaddict/bignum/blob/master/project/Build.scala

[2015-02-06 02:41] cheeseng commented on #373
+1 for this, the support of BigDecimal will be very useful.

[2015-02-06 10:38] siriux opened #1475 "fullOptJS: chunked output possible?"
Hi,

I open a new issue, even if https://github.com/scala-js/scala-js/issues/947 is closely related because I'm interested in fullOptJS.

Given that the Closure Compiler already supports compiling multiple modules together, but generating the output in multiple files, I think this should be fairly easy.

Also, seeing the code from optimizeIR here: https://github.com/scala-js/scala-js/blob/f4ba58cc

[2015-02-06 10:40] siriux commented on #947
I've created a similar issue for fullOptJS https://github.com/scala-js/scala-js/issues/1475 Maybe people interested in this issue is also interested on fully optimized chunked output.

[2015-02-06 13:01] sjrd commented on #1475
I wonder where you saw that Closure supports generating the output in multiple files. Care to provide a link to some reference?

Anyway, I do *not* believe this is easy. Even if it is technically easy to separate modules along some arbitrary borders, it will be very difficult to find appropriate borders, i.e., partition your application into parts that can be meaningfully loaded lazily.

If you ha

[2015-02-06 13:25] siriux commented on #1475
Hi,

I've found two examples on stackoverflow: http://stackoverflow.com/a/7827251 and http://stackoverflow.com/a/10401030

Also some info here: https://groups.google.com/forum/#!topic/closure-compiler-discuss/7H9oCbGbAZ4

So, I guess, (not actually tested) that this is possible and easy with the closure compiler. Also, I imagine that is as simple as creating multiple modules and providing them in

[2015-02-06 13:34] siriux commented on #1475
Another option would be to be able to compile (without optimizing with closure) a main file and it's dependencies in different files. (related to https://github.com/scala-js/scala-js/issues/947) From there, it would be very easy to run the closure compiler by hand (or build script) with the right options to generate the files for production.

[2015-02-06 13:38] ochrons commented on #1475
I believe the intial download time is not very significant these days. More important is to make the production files "immutable" (through unique naming like in GWT) so that they can be cached on the device forever.

[2015-02-06 13:40] sjrd commented on #1475
OK so it seems possible, indeed. The surface of the codebase that this feature would touch also seems quite small, so I'll mark this as community.

[2015-02-06 13:41] siriux commented on #1475
That depends a lot on the use case, the web is used for many different things today. Also, it's not only download time, it's also parsing and executing a really big blob of JS on mobile (even if it's not used right there).

[2015-02-06 13:58] siriux commented on #1475
Thanks Sébastien, I just wanted to be sure this it's not something is going to block me in the future if I choose to go along with ScalaJS.

Just one last small question, because I don't have the big picture on the code, in case I need to implement it. To separate the files in libraries, I would do it in a custom builder, isn't it? But is there information to known from which library a Tree comes

[2015-02-06 14:04] sjrd commented on #1475
You can't know from what library a `Tree` comes from. A `Tree` has no information that can tell you that (well, sort of, it has a `pos` with a `file`, but that's a Source file, and it can be an arbitrary URI).

So a custom builder will probably not be enough. You will likely have to adapt the API of `ScalaJSOptimizer.optimizeIR` to accept not a builder, but a function of `LinkedClass => Builder`,

[2015-02-06 14:05] siriux commented on #1475
Perfect, thanks!

[2015-02-06 15:31] matthughes commented on #1324
@michelschinz  Out of curiosity, why Double and not Long?

[2015-02-06 15:33] sjrd commented on #1324
Because `Long` is an [opaque type](http://stackoverflow.com/questions/27821841/working-with-opaque-types-char-and-long): it doesn't map to any JavaScript type.

[2015-02-06 15:34] michelschinz commented on #1324
...and because `parse` returns `NaN` in case of error.

[2015-02-06 15:34] sjrd commented on #1324
Oh, I didn't even know that ^^

[2015-02-06 16:45] gzm0 commented on #373
This project is a very unfinished project that actually has been created with the intention to put it into Scala.js eventually IIRC. However, it does - at least at this point - by far not meet Scala.js' quality standards.

For anyone who want's to contribute to Scala.js, this is a simple (yet important and high-visibility) task that does not require knowledge of the internals. Just add the relevan

[2015-02-06 16:58] gzm0 commented on #1283
@sjrd, did we close off 0.5.x already? I think it is time to do so :)

[2015-02-06 16:58] #1283 closed

[2015-02-06 17:41] gcanti opened #1476 "does @JSExportAll require @JSExport?"
Hello, maybe I misinterpreted how to use @JSExportAll in:

http://www.scala-js.org/doc/export-to-javascript.html

but this doesn't work for me:

[code]

[code]

This works instead:

[code]

[code]

Is it correct to add both annotations? Or there is a way to add just @JSExportAll and I'm missing something?

Thanks, Giulio

[2015-02-06 17:42] sjrd commented on #1476
This is the intended behavior.

* `@JSExport` exports the object itself (or the class' constructor, if it is a class)
* `@JSExportAll` exports all its *members*, but not the object/constructor itself.

So, yes, you need both, and it is OK to use both.

[2015-02-06 17:44] sjrd commented on #1283
No, we didn't, I think. I'll do that.

[2015-02-06 17:46] gcanti commented on #1476
Ok, thanks!

[2015-02-06 17:46] #1476 closed

[2015-02-06 18:13] #1472 closed

[2015-02-06 18:21] SemanticBeeng commented on #373
I need this even unfinished and will try to advance but please clarify how can it work in ScaalJS given the Java dependencies listed here: https://github.com/techaddict/bignum/blob/master/project/Build.scala

[2015-02-06 18:23] sjrd commented on #373
The Java dependencies listed there only apply to the Benchmarks subproject. You don't need the benchmarks to run to have it work.

[2015-02-06 18:52] SemanticBeeng commented on #373
All right. I gave it a half ass try to use the Scala files outside the project and did not compile.
Will give it another one.

Please share if there is anything else needed to start or evolve a ScalaJS worthy project.
I need this asap so must get it to work on it's own project.
Will evolve over time if it flies.

[2015-02-06 19:43] sjrd commented on #373
It's worth mentioning, about https://github.com/techaddict/bignum, that:

* It is not an implementation of `java.math.BigInteger`. It's a different implementation, initially thought of as an independent BigNum library for Scala that would *not* depend on the JDK.
* It is mostly based on `Long`s internally, and Longs have terrible performance in Scala.js. So with this implementation, the slowness o

[2015-02-06 19:48] lihaoyi commented on #373
I wonder if it'd be worth introducing a new 53-bit integer data type in
Scala.js just for cases like this =P

On Fri, Feb 6, 2015 at 11:43 AM, Sébastien Doeraene <
notifications@github.com> wrote:

[2015-02-06 19:51] sjrd commented on #373
@lihaoyi No, 32-bit ints are faster than 53-bit integers. You'll win in space, which means less time spent on going through the array of integers. But it's likely that internal manipulations will overflow your 53-bit precision anyway, so you'll lose time recovering these. I believe a 32-bit based implementation is best.

[2015-02-06 19:55] sjrd commented on #373
So for reference, GWT's implementation is here:
https://github.com/gwtproject/gwt/blob/master/user/super/com/google/gwt/emul/java/math/BigInteger.java
with bits and pieces in the parent directory.

[2015-02-06 19:56] lihaoyi commented on #373
Good point, I forgot that browsers probably do optimistic optimizations to
turn them into 32bit ints where possible

On Fri, Feb 6, 2015 at 11:55 AM, Sébastien Doeraene <
notifications@github.com> wrote:

[2015-02-06 19:59] sjrd commented on #373
It's not "probably". They do.

[2015-02-07 07:34] mizchi opened #1477 "Packaging as node library"
Perhaps there are people who want use scala.js casually in node.js even if it was a bit big size(including me). And it will pay in pure and big code like a complex algorithm or language parser.

I tried v0.6 and thought today's scala.js is enough small to run in node(io).(`Hello World` is 19k)

I tried these codes.

[code]

To use naturary in node, I need facad.

index.js

[code]

It works but It'

[2015-02-07 09:39] sjrd commented on #1477
Does [this SO question](http://stackoverflow.com/questions/26637600/how-to-convert-scala-js-application-to-commonjs-module) help?

[2015-02-07 10:40] mizchi commented on #1477
@sjrd I know it works but that injects many properties to global namespace. I used vm module to avoid it and filter exposed API. (http://nodejs.org/api/vm.html)
But I fear that filtering scope by running `vm` context break scala.js.

[2015-02-07 10:50] sjrd commented on #1477
Huh? What does that inject into the global namespace? It shouldn't, at all. Scala.js only exports things in its `exportsNamespace` (+, in FastOpt, it exports the `ScalaJS` variable in the "this" scope, but that will change at some point).

[2015-02-07 10:51] sjrd commented on #1477
I don't think `vm` would break anything in Scala.js.

[2015-02-07 16:42] smeagol74 opened #1478 "Wrong optimization of Float/Double * -1"
Good day, I'm using Scala JS version 0.6.0

Simple function in scala compiles to very wrong JavaScript.
[code]
is compiled to following JavaScript with fastOptJS directive
[code]
As you can see function compiles to return constant value. This do not looks like proper behaviour.

Such negation works fine for Int, but not for Float or Double

[2015-02-07 16:50] sjrd commented on #1478
Oh god. This is the same issue as #1453 but [for Float](https://github.com/scala-js/scala-js/blob/v0.6.0/tools/shared/src/main/scala/org/scalajs/core/tools/optimizer/OptimizerCore.scala#L2318) and [for Double](https://github.com/scala-js/scala-js/blob/v0.6.0/tools/shared/src/main/scala/org/scalajs/core/tools/optimizer/OptimizerCore.scala#L2373). How did I not verify these cases when I fixed it for

[2015-02-07 19:38] #1478 closed

[2015-02-08 00:03] sjrd opened #1480 "js.Dictionary.empty should be marked @inline"

[2015-02-09 15:10] rparree opened #1481 "Question: How to export properties of shared case classes"
I am trying to share a case class between server and client. I am using upickle on both ends. The objects and their data are nicely available on both ends.

shared class

[code]

However i need to export the fields of the case class on the client side. I could add the `@ExportAll` annotation, but that means pulling in the scalajs libraries on the server project.

Is there perhaps a better way of e

[2015-02-09 15:14] sjrd commented on #1481
First: questions are best asked [on StackOverflow](http://stackoverflow.com/questions/tagged/scala.js). GitHub Issues are for, well, issues. It would be great if you could re-ask your question on SO. But anyhow, let me answer already.

The right way to export things to JavaScript is to use the `@JSExportAll` annotation. You cannot, and should not, pull the Scala.js libraries on the server project,

[2015-02-09 15:30] rparree commented on #1481
Sorry and thanks :)

Posted the Q and A on SO as a reference for other developers
 http://stackoverflow.com/questions/28413266/how-to-export-properties-of-shared-case-classes/28413267#28413267

[2015-02-09 17:51] gzm0 opened #1482 "NodeJSEnv throws if Com is closed too fast on JVM"

[2015-02-10 09:21] #1481 closed

[2015-02-10 16:25] gzm0 commented on #1428
@l15k4 is this still an issue, or can we close this?

[2015-02-10 16:29] l15k4 commented on #1428
@gzm0 this is a history, you may close it. It's been all solved by scalajs-test-interface.  Even the programmatic utest approach can be worked around.

[2015-02-10 16:29] #1428 closed

[2015-02-11 19:50] mrerrormessage opened #1486 "SBT crossProject does not respect scalaSource"
In the process of upgrading to scala.js 0.6.0, I noticed that there is a slight inconsistency in the way that crossProjects treat the `scalaSource` directory. In my build.sbt, I have
[code]
What I expect to happen here is that it will look for shared sources in `shared/src/main`, for js sources in `js/src/main`, and jvm sources in `jvm/src/main`. This expectation is encouraged by
[the CrossProject

[2015-02-11 19:57] sjrd commented on #1486
Hi,

This is not a bug. It is the expected behavior. You have to remember that `crossProject` is *not* an abstraction. It is a builder. It helps you build two projects which share a lot of settings and (hopefully) sources.

The `scalaSource` settings that you write reference the `baseDirectory` setting, which is `js/` for the JS project and `jvm/` for the JVM project. These new values for these se

[2015-02-11 20:02] mrerrormessage commented on #1486
That makes sense. Thank you for explaining.

[2015-02-11 20:02] #1486 closed

[2015-02-11 23:43] japgolly opened #1487 "java.util.concurrent.ConcurrentHashMap impl missing"
JS is single-threaded so this can be very-simply backed by a plain HashMap.

Good for any new, eager contributors out there to pick up.  :)

[2015-02-12 00:10] japgolly commented on #1487
Actually, I'll do this myself. I didn't want to commit (again) to something I don't have time for but I should be able to smash this in an hour or two.

...with a little guidance. Could you please give me a few beginning bits of info:
* where (which dir) should I put this?
* which Java version interface should I adhere to?
* how much is expected in terms of unit test? (keeping in mind I'll just wr

[2015-02-12 00:17] gzm0 commented on #1487
Code: `javalib/src/main/scala/java/util/concurrent/ConcurrentHashMap.scala`
Tests: `test-suite/src/test/scala/org/scalajs/testsuite/javalib/ConcurrentHashMapTest.scala`

JDK7, such that it is backwards compat with JDK6. If this is not possible, we need to discuss

I think the expectation is to have a test per method. I'd be mostly concerned about different null handling and different behavior with

[2015-02-12 07:13] sjrd commented on #1487
Agreed.

[2015-02-12 15:56] sjrd opened #1489 "getSuperclass must retain the data of all superclasses of classes with data"
This snippet currently fails, if none of the two classes are ever *instantiated*:
[code]
The problem is that, even though `isDataAccessed` is true for the `ChildClass`, it is false for the parent class. Therefore, the data is eliminated by dce, but the data of the child do reference it. Boom!

[2015-02-14 06:14] japgolly opened #1490 "JVM style module initialization under semantic flag"
Given this minimised ADT:
[code]

At runtime, both `A.cs.head == A.Y` and `A.cs.head eq A.Y` will fail.

Guess how to make it work? Change
[code]
to
[code]

[2015-02-14 06:19] japgolly commented on #1490
Btw, workaround is to make `val cs` lazy.

[2015-02-14 16:38] sjrd commented on #1490
Intriguing. I'll look into it tomorrow evening or on Monday.

[2015-02-15 06:25] japgolly opened #1491 "~fastOptJS runs non-stop"
In my SBT build, I have a Scala.JS-based `webapp-client` module, which is part of an aggregate module called `webapp`, which itself is part of the root aggregate module.

`;project webapp-client; ~fastOptJS` works as expected by only building once, then waiting for changes.
[code]

However from one of the aggregate modules, `~webapp-client/fastOptJS` keeps regenerating the JS again and again. This

[2015-02-15 12:23] wwagner4 opened #1492 "Touch.clientX and Touch.clientY contains float not integer values -> java.lang.ClassCastException"
On Android prortables the Touch object wich is contained in TouchEvents contains float values. This leads to ClassCastException when accessing e.g clientX or clientY. Don't know yet which other attributes are effected. :-(

Objects in mind:
The attributes https://developer.mozilla.org/en-US/docs/Web/API/Touch
org.scalajs.dom.Touch
Android Version 4.2, 4.4 (No other were tested)
Browser Chrome

The

[2015-02-15 12:24] wwagner4 opened #1493 "Touch.clientX and Touch.clientY contains float not integer values -> java.lang.ClassCastException"
On Android prortables the Touch object wich is contained in TouchEvents contains float values. This leads to ClassCastException when accessing e.g clientX or clientY. Don't know yet which other attributes are effected. :-(

Objects in mind:
scalajs 0.5.6 dom 0.6
The attributes https://developer.mozilla.org/en-US/docs/Web/API/Touch
org.scalajs.dom.Touch
Android Version 4.2, 4.4 (No other were teste

[2015-02-15 12:26] #1492 closed

[2015-02-15 12:27] wwagner4 commented on #1492
Duplicate to 1493

[2015-02-15 14:44] sjrd commented on #1490
Does it even work on the JVM?

[2015-02-15 15:30] #1493 closed

[2015-02-15 15:30] wwagner4 commented on #1493
fixed in scalajs-dom 0.7.0

[2015-02-15 20:18] sjrd commented on #1490
I cannot reproduce. The following program prints `true` with Scala 2.11.5 and Scala.js 0.6.0, under all optimization stages:
[code]

[2015-02-15 20:31] sjrd commented on #1491
Would the output of fastOptJS perchance appear in the *watched sources* of the enclosing project?

[2015-02-16 13:21] japgolly commented on #1491
No, but do you know of a means by which I can verify that?

What may be relevant is that there is a symlink in `webapp-server/src/main/webapp/assets` that points to stuff in `webapp-client/target/scala-2.11`. It's managed by SBT, in fact I can show you my build setup here ↓
https://github.com/japgolly/sbt/tree/skeleton with potentially relevant part [here](https://github.com/japgolly/sbt/blob/skel

[2015-02-16 13:28] japgolly commented on #1490
This is going to be a pain to reproduce. If the above code works ok outside of my codebase, it might be an initialisation order thing. There might be another `object` somewhere that creates a `val` that indirectly references `A.{B,C,X,Y}`. Tomorrow I'll might do a manual binary search turning `val`s into `def`s and see if anything has an effect...

[2015-02-16 13:45] sjrd commented on #1491
Hum, OK, I'll investigate this.

[2015-02-17 01:01] japgolly commented on #1490
I tried turning making `val`s everywhere lazy, except for `val cs = Vector[C](Y)` and the problem persists. It doesn't seem to be val initialisation order thing.

An idea is maybe we could craft a custom build of Scala.JS that spits out debug info when it creates an instance of `A.Y`, then I could send you that info?

[2015-02-17 02:24] japgolly commented on #1490
I just remembered that we're generating JS here. I can look at the output!

First, I changed `A.Y` to
[code]

And sure enough it yields:
[code]

Something missing from the minimised example is something along the lines of this:
[code]

Again, changing those `val`s to `def`s doesn't help.

[2015-02-17 02:36] japgolly commented on #1490
I found the object initialisation JS and hacked it:
[code]

to see:
[code]

which doesn't make much sense to me. `A.Y` has an empty body and the only thing it references is a method in `A` itself.

[2015-02-17 02:47] japgolly commented on #1490
Changing
[code]
to
[code]
yields
[code]

Replacing `Y extends C(blankSym)` to `Y extends C("")` yields
[code]

[2015-02-19 14:54] fxmouthuy opened #1496 "JS dependency in webjars: specify the file to import using a part of the path"
The current version allows to do such configuration:
[code]

However, some webjars have multiple files with the same name. It would be better to allow partial parts:

[code]

[2015-02-19 16:57] sjrd commented on #1256
So, for the record, I've been working on this. WiP is in #1495. One of the students at EPFL will need this for his project this semester, so I'm pushing it over. Note that it's a reimplementation from scratch, using the capabilities of the Scala.js optimizer to keep it DRY. So it doesn't look at all like Harmony's source code.

[2015-02-19 21:19] SemanticBeeng commented on #186
May I see your (code :-) wrapper please?

[2015-02-20 07:33] #1489 closed

[2015-02-21 23:33] bshlgrs opened #1497 "JSExport of abstract class should fail more elegantly"
When I tried to export a Scala abstract class, the `fastOptJS` command fails with this error:

	[error] Referring to non-existent method Last_Statement.toIntermediate__sci_List
	[error]   called from Last_StatementHelper$.statementsToIntermediate__sci_List__sci_List
	[error]   called from Last_IfElse.toIntermediate__sci_List
	[error]   called from Last_Expr.toIntermediate__T2
	[error]   called fro

[2015-02-22 01:33] gzm0 commented on #1497
Indeed. Exporting an abstract class or a trait does not make sense.

[2015-02-22 06:58] #1482 closed

[2015-02-23 07:01] gzm0 commented on #1497
@sjrd I would like to forbid `@JSExport` of abstract classes (exporting traits is already forbidden). However, this will break source compatibility. The following actually "works" (i.e. print "Hello World: 1"):

[code]

Note that it is (potentially) non-trivial to turn this abstract class into a normal class.

Should we just emit a non-suppressible warning instead? (or do we need suppression?)

[2015-02-23 07:16] gzm0 commented on #1497
Note that DCE warnings are emitted properly (e.g. if we re-implement `foo` as `def foo = bar`).

[2015-02-23 07:52] sjrd commented on #1497
Ergh. No here I think we should still "break" it. Because this is still a bug, and code "working" like that is wrong anyway. And the impact will be a compilation error with a newer compiler, not a silent change in behavior.

[2015-02-23 09:10] sjrd opened #1499 "fullOptJS doesn't generate the launcher script"

[2015-02-23 14:58] sjrd opened #1500 "java.lang.Thread.getStackTrace()"
ScalaTest would like this method to exist. It's almost trivial to implement, so let's do it.

[2015-02-23 19:02] #1499 closed

[2015-02-23 19:03] #1497 closed

[2015-02-24 01:48] #1500 closed

[2015-02-24 04:47] gzm0 commented on #1496
This is unfortunately both absolutely reasonable and a non-trivial change.

We currently identify raw JS libraries globally by their file name. This was notably done to reasonably support `dependsOn`, without requiring users to having to write a separate "library definition" (or huge strings in multiple places).

`dependsOn` itself was introduced, since webjars do not have any metadata about requi

[2015-02-24 08:26] wwagner4 opened #1504 "Memory leak when using anonymous inner classes"
Massive creation of inner classes creates a memoryleak.

The error can be reproduced in the following branche [scalajs_memoryleak](https://github.com/wwagner4/doctus/tree/scalajs_memoryleak) of my project. The JS-Profiler
shows the memoryleak.

Open scalajs-showcase/dummy02.html in your browser.

I found a workaround by replacing the anonymous inner classes by toplevel case classes. [Workaround](h

[2015-02-24 08:28] sjrd commented on #1504
Thanks for the report. Does it not leak on the JVM as well?

[2015-02-24 08:40] sjrd commented on #1504
On closer inspection of your code, I think it's quite normal that you get a memory leak. The way your code is written, there's nothing a compiler can do. You should observe the same leak on the JVM.

For example, [here](https://github.com/wwagner4/doctus/blob/scalajs_memoryleak/core/src/main/scala/doctus/core/util/DoctusVector.scala#L62-L67):
[code]
By writing this, you cause `v1` and `v2` to be c

[2015-02-24 09:14] wwagner4 commented on #1504
Did not seem to leak on the JVM. Will have a look at the Profiler

[2015-02-24 10:05] wwagner4 commented on #1504
Same issue on the JVM.
Thanks for the advise.

[2015-02-24 10:05] #1504 closed

[2015-02-24 17:38] #1299 closed

[2015-02-24 17:41] sjrd commented on #1496
Hum, I didn't realize our state on this was so bad ^^

We should probably try to sort of support partial paths in the short run, with the understanding that the partial path becomes the identifier, which means all dependencies referring to a webjar must agree on what partial path is used.

[2015-02-24 18:55] gzm0 commented on #1496
For webjars this is fine, since the JS files are always in `META-INF/resources/webjars/<libname>/<libver>/<library-speicifc>`. The question is what do we do with non-webjar JS. Do we really want to force people to abide to this scheme even for simple things?

[2015-02-25 05:26] sjrd commented on #1490
@japgolly Did you manage to come up with a reproduction outside of your project?
Or can you post the full definition of the culprit objects as well their translation to js?

[2015-02-25 05:38] japgolly commented on #1490
@sjrd Heya. No, I was unable to reproduce it outside of my project. :(

Is the above information enough though? From what I've posted above we can deduce the following:

1. As `A.Y` is initialised, `A` is initialised also.
2. If `A.Y`'s initialisation needs to access `A.blankSym`, then `A` is _reinitialised_ before `A.Y` completes.
3. The reinitialisation of `A` triggers another creation of `A.Y`

[2015-02-25 07:11] sjrd commented on #1490
I'll try, but without a repro I can hardly tell whether I actually fixed the bug. Worse, I can't whether it even works on the JVM. I don't want to fight for a bug that's originally in scalac or a fundamental limitation of objects in Scala.

[2015-02-25 08:47] sjrd commented on #1491
Well, I think we broke this in 07b8871a9f532385066d950da3e6db2703640b75. By turning the classes representing the JS_DEPENDENCIES from case classes to normal classes, we broke their `==` test, which is used [here](https://github.com/scala-js/scala-js/blob/v0.6.0/sbt-plugin/src/main/scala/scala/scalajs/sbtplugin/ScalaJSPluginInternal.scala#L286) to avoid rewriting the JS_DEPENDENCIES file if it's go

[2015-02-25 10:08] sjrd opened #1506 "Static methods (in trait impl classes) don't have a hash"
The compiler doesn't hash the members of trait impl classes. This causes them to have a `None` version, which, in turns, causes the incremental optimizer to think they have changed, *every single time*. Hence, static methods, and the methods they inline, are systematically reoptimized every single time fastOptJS is run.

Big bummer ^^

[2015-02-25 10:11] sjrd commented on #1506
Additionally, same for methods in interfaces. But that doesn't actually matter because they're not used by the optimizer anyway. But still, should be fixed as well.

[2015-02-25 10:23] #1477 closed

[2015-02-25 10:39] japgolly commented on #1490
Ah, I understand your situation more now. I really don't know why this is so hard to reproduce - it's consistent within my large app. I guess I'll try again at some point.

[2015-02-25 12:30] sjrd commented on #1490
Ah, I managed to reproduce the issue simply by inverting the two sides of the comparison, which means that `A.Y` is evaluated before `A`:
[code]
But then, this code also prints false on the JVM, as I expected.

So I'm afraid this is a fundamental limitation of objects. There's nothing I can do about it. There's probably nothing scalac can do about it either. Your code just falls out of the (undocu

[2015-02-25 12:46] japgolly commented on #1490
Argh!! Hours of effort and the whole time I just had to swap the oprands around ergh

Well done and thank you.

What's really annoying about this is that when it happens, it's quite subtle to track down. It really seems like something `-Xcheckinit` should be catching but it misses it on both JVM (now that I can reproduce) and JS. This really should be fixed; I'll submit an issue for scalac. Any ch

[2015-02-25 12:50] sjrd commented on #1490
Producing warnings would mean adding code to every module accessor, which means bigger .js + slower accesses of the modules. So no, I don't think I would that.

[2015-02-25 12:52] sjrd commented on #1490
Btw, `-Xcheckinit` doesn't catch it because that's not what it checks. It checks that `val`s are not accessed before they are initialized. Not that top-level objects are not reaccessed a second time before they could at least complete the call to their super constructor.

[2015-02-25 12:58] japgolly commented on #1490
Yep, I understand that's what Xcheckinit does currently, but I don't think
it's exclusive by intention. I'd argue that the flag exists to check
everything initialises in a working order. Val access order is part of
that, I think this is another case that should fall under the same umbrella.

Also would you be opposed to adding a warning if it were only enabled when
-Xcheckinit or some other option

[2015-02-25 13:04] sjrd commented on #1490
I'm not opposed in theory. But in practice I just can't implement it that way because there's no place in the IR to put that code. Module accessors don't have code in the IR, they are synthesizes entirely at the time we emit the final JS. On the other hand, we could have a linker option for that. It would sort of fit in the Undefined Behaviors system (except it would be Unchecked by default, inste

[2015-02-25 13:11] japgolly commented on #1490
That would be helpful. Careful people like me could add that to their non-prod settings and switch it off for prod.

Also I've raised it on the scalac side: https://issues.scala-lang.org/browse/SI-9184

I'm aware that you're time isn't infinite nor free; maybe if they patch scalac then you'll just absorb it when upgrading scalac versions (if it works that way) without much direct change to ScalaJS

[2015-02-25 13:19] japgolly commented on #1490
I just realised something. This felt important to me because most of my app worked without any warning., which made this tedious to trackdown. If it were initialised to `null` like the JVM, it would've been easy to track down: an NPE would both fail immediately and basically scream compiler issue. That makes a warning much less important. :)

[2015-02-25 13:44] sjrd commented on #1490
Even initializing it with `null` means more code. Potentially worse, it adds a third type to the lifetime of this variable (besides `undefined` and its final result), which can confuse the JIT.

[2015-02-25 18:40] gzm0 commented on #1490
I think it makes sense to say that objects are initialized to null by (undocumented) scala specification and we add a compliance flag for that.

[2015-02-25 21:10] #1491 closed

[2015-02-25 21:11] #1506 closed

[2015-02-25 21:11] sjrd commented on #1490
Yes, that's what I had in mind.

[2015-02-25 21:20] japgolly commented on #1491
:+1:

[2015-02-25 22:01] #1256 closed

[2015-02-25 22:01] #1293 closed

[2015-02-26 14:35] sjrd commented on #1496
Even the `ClasspathContentHandler`s and hence the `ClasspathBuilder`s only retain the file name part. So the knowledge of the relative path wrt the classpath entry is lost very early. :-(

[2015-02-27 05:04] #50 closed

[2015-02-27 06:00] gzm0 commented on #1111
I want to do this, once it is time :)

[2015-02-27 08:00] sjrd commented on #1111
OK ^^

[2015-02-28 20:01] ramnivas opened #1512 "Atomic write of -fastop.js"
I am using scala.js with webpack [1] that watches my -fastopt.js file (along with other resources in the asset pipeline). It appears that the -fastopt.js file is written out to the disk in chunks. As a result, webpack often sees a half-written file that leads to incorrectly built bundle. Earlier I used gulp [2] for the same purpose and encountered the same problem.

I can reduce the frequency of t

[2015-02-28 22:56] ramnivas opened #1513 "fastopt.js file timestamp changes even when there is no source changes"
How to reproduce:
1. Clone a simple scala.js project (e.g. https://github.com/sjrd/scala-js-example-app)
2. Launch `sbt`
3. fastOptJS
5. Note the timestamp for the *-fastopt.js file
6. Wait a minute
7. Again fastOptJS
8. Again check the timestamp for the *-fastopt.js file. It will have changed to the current time.

If you were to check the *.class files' timestamps, they will not have changed.

Ba

[2015-03-01 01:03] ramnivas opened #1514 "Multi-project setup with scala.js performs unnecessary work"
In a multi-project setting, even when there is no change to a subproject (or its dependent projects), `fastOptJS` performs some work for any change in other parts of the project. Here is a repo that can be used to reproduce the issue: https://github.com/ramnivas/scalajs-multi-project-issue. The essential part is that `subproject1` depends on `subproject2` and `root` aggregate them all.

[code]

Wh

[2015-03-01 05:37] sjrd commented on #1513
Already fixed: #1505.

[2015-03-01 05:37] #1513 closed

[2015-03-01 05:41] sjrd commented on #1514
Also fixed by #1505 and #1507.

[2015-03-01 05:41] #1514 closed

[2015-03-02 08:41] #1496 closed

[2015-03-02 11:53] sjrd opened #1515 "run/patmatnew.scala crashes the optimizer"
[code]

[2015-03-02 15:35] #1515 closed

[2015-03-02 19:48] gzm0 commented on #354
@sjrd I think we can close this. It does not seem to be needed and the implications for the IR are huge.

[2015-03-02 20:54] sjrd commented on #354
OK let's close it.

[2015-03-02 20:54] #354 closed

[2015-03-03 23:07] sjrd commented on #1158
Done!

[2015-03-03 23:07] #1158 closed

[2015-03-04 03:39] ddispaltro commented on #1514
I am guessing this doesn't need a recompile for it to be used in dependent projects, correct?

e.g. if uTest depends on 0.6.0 and your project depends on 0.6.1 and uTest, this fix is "included" right?

[2015-03-04 04:29] ramnivas commented on #1514
My understanding is that my project needs to not only use scalajs 0.6.1, but also a uTest version that is compiled with 0.6.1.

[2015-03-04 06:07] sjrd commented on #1514
@ramnivas is right. Just depending on Scala.js 0.6.1 will remove a lot of the unnecessary work (because the standard library upgrades) but some parts of uTest will be reoptimized every time *something* changes in the project or is dependencies.

Independently, with 0.6.1, if *nothing* changed in a project and any of its dependencies, then `fastOpt` will avoid doing *any* work whatsoever. But this

[2015-03-05 01:12] zfy0701 opened #1517 "source code is compiled even before you type "compile" or "package""
Hi,

I was trying to compile scala-js using a local version of scala by setting
[code]

but this doesn't work, after some investigation, I found that the code has all be compiled before I even set those parameters, actually, if I just type sbt without any parameters, the code will all be compiled to `project/target`, while in normal cases, the code should be compile to `target` after you type `com

[2015-03-05 01:23] gzm0 commented on #1517
Are you talking about the Scala.js project itself?

Since some of the projects in the Scala.js build depend on the sbt plugin, we include the sbt-plugin sources (and its dependencies) in the build itself.

However, if you compile things once sbt is up and running, it should use the scala version you specify (i.e. all artifacts of the build will be compiled with your local version).

On the other h

[2015-03-05 02:09] zfy0701 commented on #1517
Hi
Thanks for the quick reply, yes, I'm talking about the project itself because I'm trying to play around with it but found things doesn't go exactly the same as what described in dev doc.

let's put aside the the problem of using local scala version.

I tried to simply do things like following:
[code]
[code]

it seems all sources will be compiled at this moment

[code]
those classes must belong

[2015-03-05 02:52] gzm0 commented on #1517
Indeed... The developer documentation is outdated: The root project [does not aggregate any projects anymore][1].

Therefore, `compile` indeed does nothing. However, the instructions on [publishing locally][2] are correct and will recompile everything (even the things compiled for the build itself).

[1]: https://github.com/scala-js/scala-js/commit/99c92547de78a648ded3d53d3994f34d1621b652
[2]: htt

[2015-03-05 02:54] gzm0 opened #1518 "Developer documentation assumes that root project aggregates things"
When saying `> package` in the sbt shell, nothing happens. We should update the documentation.

[2015-03-05 02:54] gzm0 commented on #1517
Filed as #1518

[2015-03-05 21:26] betehess opened #1520 "java.net.URI does not support Unicode"
`new java.net.URI("http://cs.dbpedia.org/resource/Víno")` fails with `Uncaught java.net.URISyntaxException: Malformed URI in http://cs.dbpedia.org/resource/Víno at -1`. It works fine on the JVM.

[2015-03-05 21:35] sjrd commented on #1520
@gzm0 Was this a limitation by design of the first implementation? I don't remember whether we discussed this at some point or not.

[2015-03-05 21:37] gzm0 commented on #1520
Yes, I think this is by design, since we don't have the tooling to determine the characters that are allowed. See #964

[2015-03-05 21:50] gzm0 commented on #1520
Hmmm... Unfortunately I have not written anything detailed. Basically, escaping of the *other* category is not done. See the section "Escaped octets, quotation, encoding, and decoding" in the [URI Javadoc][1].

[1]: http://docs.oracle.com/javase/7/docs/api/java/net/URI.html

[2015-03-06 15:18] betehess opened #1521 "new java.net.URI("#foo").getSchemeSpecificPart() should return the empty String"
`new java.net.URI("#foo").getSchemeSpecificPart()` should return the empty String. It currently returns `"#foo"`.

[2015-03-06 18:29] gzm0 commented on #1521
Hmmm... I guess that is my job to fix... :)

[2015-03-06 18:30] gzm0 commented on #1521
I'll try to do this over the weekend.

[2015-03-07 06:43] gzm0 commented on #1520
So it boils down to the following choices:

- RFC 2396 only support (US ASCII only, deviates from java)
- Loosen up the *other* category and allow more things than the JVM does
- Implement `isSpace` and find a way to use it (together with `isControl`) in the regex (this is the fully java compliant solution)

WDYT?

[2015-03-07 06:44] gzm0 commented on #1520
If we go down unicode land with `URI`, we also have to think of supplemental characters, which we probably don't have support for in the regexes...

[2015-03-07 06:46] gzm0 commented on #1517
PR #1523 should update the documentation. @zfy0701 is this resolved for you, or does this need further investigation?

[2015-03-07 06:53] gzm0 commented on #1512
Hmmm... This seems indeed to be hindering for tools that watch files. @sjrd do you know how other tools handle that? Renaming seems indeed to be an option...

[2015-03-07 06:53] gzm0 commented on #1490
@sjrd does this still have to be labeled wontfix? IIUC we said we are going to add a semantics for that, right?

[2015-03-07 07:54] sjrd commented on #1512
I have no idea how this works in the wild. Maybe there are documented best practices somewhere.

But I would question the relevance of doing this here. Does sbt do atomic writes of other files, in general? I don't think so. If it doesn't, I don't think we should do it either. It is possible to implement this in user-space for builds that need it (since it is a build-specific issue, caused by the i

[2015-03-07 07:55] sjrd commented on #1490
Yes we'll add semantics. I guess wontfix is not applicable.

[2015-03-07 08:01] #1517 closed

[2015-03-07 10:14] #1521 closed

[2015-03-07 10:47] sjrd commented on #1520
I believe we should strive for maximum compliance with the JVM. We should probably use sub-regexes for spaces and control chars. Control chars [are easy](http://docs.oracle.com/javase/7/docs/api/java/lang/Character.html#isISOControl%28int%29). [isSpaceChar](http://docs.oracle.com/javase/7/docs/api/java/lang/Character.html#isSpaceChar%28char%29) is not much harder: there are only 19 chars total in

[2015-03-07 11:05] sjrd commented on #1520
So, I believe a good regex for the *other* category of Java's URI spec is the following:
[code]

[2015-03-07 11:24] sjrd commented on #1520
As for supplementary characters, the only "trick" is that they have to be encoded using UTF-8 in `.toASCIIString`. For this, we have a perfectly capable UTF-8 encoder.

Otherwise, they are Other characters anyway, and high surrogates and low surrogates are Other as well, so nothing special to do about them.

[2015-03-07 13:24] #1518 closed

[2015-03-07 18:35] sjrd opened #1524 "Constant-fold +[string]"
`a +[string] b` is currently not constant-folded. This could be done very easily.

[2015-03-07 20:04] sjrd commented on #1275
Once we have this, we can reimplement more efficiently `Random.nextInt(n)` in the power-of-2 case. Currently it is:
[code]
which is meant to return the `x = log2(n)` *higher* order bits out of the 31 bits asked to `next()`. But this uses Longs.

For a power of 2, `x` is also equal to `ctz(n)` the number of trailing zeros. For a power of two, `ctz(n) == 32 - 1 - clz(n) == 31 - x`. And to return `x`

[2015-03-08 23:30] gzm0 commented on #1520
Sounds reasonable. I'll have a look into that, hopefully this week.

[2015-03-10 02:51] betehess opened #1525 "memory consumption with 0.6.1 makes builds to fail"
[banana-rdf got switched to 0.6.1](https://github.com/w3c/banana-rdf/commit/a433553748f034710107e06e9911608a34f0b090) with @InTheNow's sbt-scalajs 0.6.1. All the subsequent builds using scala-js 0.6.1 failed.

Errors include:

* `java.lang.OutOfMemoryError: PermGen space`
* `org.scalajs.jsenv.ComJSEnv$ComClosedException: JSCom has been closed`
* ```
java.util.concurrent.TimeoutException: Timeout e

[2015-03-10 14:00] sjrd commented on #1525
I can't load the banana-rdf project. I get this, just running sbt:
[code]
Do you think you could `git bisect` the commit in Scala.js that would have caused this additional memory consumption?

[2015-03-10 14:45] betehess commented on #1525
Looks like it's either a dependency issue with sbt (then wiping your .ivy2 folder might solve it), or you already have sbt-gpg defined globally.

I won't have time in the near future (Scaladays then moving to California for a new job). Maybe I will see you at Scaladays?

[2015-03-10 14:46] sjrd commented on #1525
I won't be at ScalaDays SF, but I'll be in Amsterdam.

[2015-03-10 14:56] sjrd opened #1526 "java.lang.Thread.{get,set}Name()"
Another one needed by ScalaTest, with an even simpler fix.
Note: on the JVM, it seems the default name for the main thread is `main`.

[2015-03-10 21:56] sjrd opened #1527 "An option to target V8's "strong mode""
See https://developers.google.com/v8/experiments.

We should ideally be the first compiler to target this mode. I will make this a priority for 0.6.2.

**For a generic ES6 target:**

- [x] Do not use `var`. Use `let` and `const` instead.
- [x] Emit proper ES6 classes (functions are not constructors in strong mode)
- [x] Use rest params in our exports with varargs (`arguments` does not exist in str

[2015-03-12 15:22] InTheNow commented on #373
Quick update.... I'm actually **implementing** this :) FYI....

I am using a combination of the [gwt](https://github.com/gwtproject/gwt/tree/master/user/super/com/google/gwt/emul/java/math) and [android](https://android.googlesource.com/platform/libcore/+/master/luni/src/main/java/java/math/) versions. They both originate from the same source and both use native calls, so I mix'n'match to get a co

[2015-03-12 15:29] sjrd commented on #373
Yes, this should definitely be tested. The appropriate place for these tests is in `test-suite/.../javalib/Big{Integer,Decimal}Test.scala`.

[2015-03-12 20:56] sjrd opened #1530 "LinkingUnit.globalInfo is not computed accurately if the optimizer is disabled"
This happens because the *infos* of a `LinkingUnit` are not refined by the linker (only by the refiner). This is done because we don't want to reproduce a whole lot of infos for nothing (usually), so this is a valid (or at least reasonable) behavior. But that means `globalInfo` should be computed in terms of the `LinkedClassDef`s instead.

This causes `isParentDataAccessed` to be true, when in fac

[2015-03-13 07:02] gzm0 commented on #1520
It turns out, that the hardest parts are actually the [regexes][1] that decide what to encode in the mutli-argument ctors. It seems that the character class `[a-z^b-e]` does not work as expected in JavaScript (at least not in V8, which makes it a show stopper).

So I'll have to manually disentangle stuff like:

[code]

unless someone has a better idea...

[1]: https://github.com/scala-js/scala-js/

[2015-03-13 07:31] sjrd commented on #1520
Yee I guess you need to use positive ranges only, which means going from `\u0000`, stop at `+` or something, then continue until the next one, etc. It's not too bad, if a bit cumbersome.

[2015-03-13 08:32] #1526 closed

[2015-03-13 13:51] sjrd opened #1531 "java.lang.Thread.getId"
http://docs.oracle.com/javase/7/docs/api/java/lang/Thread.html#getId%28%29

This is needed by Scoverage.

[2015-03-13 15:14] joelross opened #1532 "TypedArrayByteBuffer.asDoubleBuffer results in a "RangeError: Invalid typed array length""
I suspect a minor typo on [this line](https://github.com/scala-js/scala-js/blob/184217741a2291c72833dcf7299a5daad6fadb94/javalib/src/main/scala/java/nio/TypedArrayDoubleBuffer.scala#L99): ```def bytesPerElem = 2```

[2015-03-13 15:40] sjrd commented on #1532
Indeed.
Can you give a test case that fails, please? My oh-so-extensive test suite failed to catch this typo, apparently.

[2015-03-13 15:47] joelross commented on #1532
Yes, I can cause it with the following line:
[code]

[2015-03-13 16:06] InTheNow commented on #373
I've pushed the current state of my port to [my github](https://github.com/InTheNow/scala-js/tree/BigNumerics). Not all the tests have implemented, and not all those that have been are passing. Stiil, there is over 8000 LOC and some tests are OK. But....

I have a problem with an enumeration, [RoundingMode](https://github.com/InTheNow/scala-js/blob/BigNumerics/javalib/src/main/scala/java/math/Roun

[2015-03-13 16:08] sjrd commented on #373
Enumerations in Java and in Scala have nothing in common. You cannot expect `extends Enumeration` to produce classes that are binary-compatible with the Java-emitted one.
Have a look at [TimeUnit](https://github.com/scala-js/scala-js/blob/master/javalib/src/main/scala/java/util/concurrent/TimeUnit.scala) to see how to do it properly.

[2015-03-13 16:10] InTheNow commented on #373
@sjrd Thanks - I knew that was the "general" issue but was unsure of the actual solution, thanks!

[2015-03-13 23:23] gzm0 commented on #1525
@betehess: I'll be at Scaladays. Hope to see you there.

[2015-03-14 11:31] sjrd opened #1534 "Desugar emits the wrong vars for a dce'ed VarDef of a Record"
`JSDesugaring`, when faced with a `VarDef(_, SomeRecordType, _, someNothingRhs)` will emit the empty `js.VarDef` as one variable, instead of expanding the variables for the record fields.

In practice, this just declares a useless variable. The missing decls are typically compensated by another branch, which is not `Nothing`, and which declares all the fields correctly.

But in theory this could l

[2015-03-14 17:43] gzm0 opened #1536 "NodeJSEnv is unable to send characters larger than 0x7FFF"
The javascript code does not correctly convert a code point to a signed integer. It therefore overflows, if the code point is too high:

[code]

[2015-03-14 18:15] sjrd opened #1537 "Backport fix of JDK-6795537"
See https://bugs.openjdk.java.net/browse/JDK-6795537
Our implementation was made bug-compatible, because experimentation with the JDK revealed that MalformedForLength took precedence. But they fixed it in JDK 8, so we might as well fix it too.

[2015-03-14 18:20] gzm0 commented on #1537
Upon completion of this, re-enable the disabled test added in #1533.

[2015-03-14 23:09] antonkulaga opened #1539 "huge number of linker errors"
After moving my project to 0.6 ( https://github.com/antonkulaga/scala-js-binding/tree/bug ) I get a huge number of linker errors when I try to run it.
Linking errors like
[code]
What is funny that I do have IRI class in my dependencies and it is published for scalajs 0.6.1

I also get a huge number of errors like these:
[code]

[2015-03-14 23:37] antonkulaga commented on #1539
Now I see that is it my fault. I wonder is it possible to somehow find (and show in the console) from which artifact the JVM classes that cannot be linked came from?

[2015-03-14 23:37] #1539 closed

[2015-03-15 05:24] #1537 closed

[2015-03-15 08:56] #1520 closed

[2015-03-15 10:36] sjrd opened #1541 "Hijack scala.Symbol as ES6 Symbols"
The more I think about it, the more I am convinced that we should hijack `scala.Symbol` to represent them as the new primitive type `Symbol` of ES6.
Doc: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol

Unlike `scala.Symbol`, there are 2 variants of ES6 symbols: named and opaque (or shared and non-shared, to take MDN's terminology). Named symbols are created

[2015-03-15 10:37] sjrd commented on #1541
@gzm0 and others, opinions?

[2015-03-15 11:52] #1531 closed

[2015-03-15 14:09] sjrd opened #1542 "ES6 ...rest parameters"
ECMAScript 6 introduces [rest parameters](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/rest_parameters), a wonderful replacement for the quirky `arguments` special variable. Example:
[code]
These rest parameters are supposedly going to be more efficient than `arguments`.

In an ECMAScript 6 output mode, we would like to use rest parameters instead of `arguments`. (An

[2015-03-15 14:21] sjrd opened #1543 "ES6 ...spread operator"
ECMAScript 6 introduces a [spread operator](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_operator), which is basically the equivalent of Scala's `: _*` to pass an iterable as varargs to a JS function (or within an array).

The very nice thing about this operator is that removes the need the `apply` method of JS functions (unless you want to bind `this`, like w

[2015-03-15 15:17] jducoeur commented on #1541
Makes sense to me.  The toString difference isn't trivial, but you *should* generally be using name, so I suspect it wouldn't break most sensible code; in particular, I'm not coming up with an obvious reason why you would care about toString compatibility between the two sides.  The variant for unique Symbols seems like a reasonably strict superset of the JVM functionality -- so long as it's clear

[2015-03-15 19:48] #1532 closed

[2015-03-16 06:36] gzm0 commented on #1541
I think this is a good proposal. Including the unique symbol for `null`, even if this will make the implementation of `name` have a special case. Further, it is probably a better idea to fully hijack the symbol, rather than half way and have a **very** strange runtime-type semantic (so I would tend towards the initial proposal, not the alternative).

[2015-03-16 06:57] gzm0 commented on #1542
I think we should add them in the IR **and** we should add support in the language for them (`js.FunctionRest1`, etc... ?). The current way to create an anonymous JS function with varargs (via JSExport) is just bad....

[2015-03-16 07:05] sjrd commented on #1542
Hum, I did not consider that. That would two more sets of `js.XFunctionN` types (we also need the `This` variant).

I'll investigate the implications. It seems like at the IR level, we just need to support `Closure` with rest parameters.

[2015-03-16 07:07] gzm0 commented on #1542
Yeah, I know. It's a bit ugly, but it will be a blocker to the interop eventually I believe... (and it is relatively easy to support).

[2015-03-16 07:10] gzm0 commented on #1542
By the way, I think we should explicitly forbid the `arguments` variable in the IR, once we have made this change.

[2015-03-16 07:16] sjrd commented on #1542
Yes, obviously.

[2015-03-16 09:11] #1536 closed

[2015-03-16 12:14] sjrd opened #1546 "Node.js isn't connected (on Travis)"
See this build, for example:
https://travis-ci.org/japgolly/scalacss/builds/54414973
Reported on the chat by @japgolly

[2015-03-16 12:15] sjrd commented on #1546
I suspect we're simply too strict on the connection time. It is currently set to 1 s. By comparison, the same timeout for PhantomJS is 10 s. I'll increase it to 5 s, and hopefully that will solve the issue.

[2015-03-16 12:34] sjrd commented on #1541
OK, thanks for the comments. I'll work on it.

[2015-03-16 13:02] japgolly commented on #1546
It might be nice to have this configurable somehow - even via a quick & dirty hack if need be. All my SJS stuff fails on Travis and it's hard to debug.

FYI I even have problems with Phantom JS (on scalajs-react). Those builds are worse: it runs a few tests, threads (presumably) crash and burn and then it happily reports that all 8 of your tests passed (despite there being 100+ tests).
https://tra

[2015-03-16 13:10] sjrd commented on #1546
PhantomJS is a weird beast. We still have long-standing issues with it, e.g., #1457.

I guess I could make [the val](https://github.com/scala-js/scala-js/pull/1547/files) `protected`, then you would be able to hack around it by subclassing `NodeJSEnv`?

[2015-03-16 16:11] #1530 closed

[2015-03-16 16:11] #1534 closed

[2015-03-16 16:45] #1546 closed

[2015-03-16 19:22] InTheNow opened #1550 "Long.signum has wrong return type"
Long.signum has wrong return type - currently it is ```scala.Long``` but should be ```Int```

I have a PR for this coming very soon...

[2015-03-17 11:18] atrauzzi opened #1552 "Integrate with JSPM"
Check out JSPM here: http://jspm.io/

This tool seems to be getting a lot of attention for simplifying workflows that target the browser.  It would be cool if there was some way you could get in as a plugin for the ecosystem.

[2015-03-17 11:33] japgolly commented on #1541
This point seems bad. If there's no way of discriminating against the two types of ES6 symbols in Scala types, then there's no way of knowing whether it's safe to call `.name`. If I ever called `.name` I'd want to know for sure that it would succeed without throwing an error once it's the end-user's problem. (If nothing else, having it return `<unique symbol>` or something would be better.)

Not k

[2015-03-17 12:29] sjrd commented on #1552
Hi,

Thanks for the pointer, but this outside the responsibilities of Scala.js. It's completely orthogonal. The closest thing would be [sbt-web](https://github.com/sbt/sbt-web) and all their assets management. I guess you could write a plugin for jspm based on sbt-web, or simply sbt. But in any case, it's completely orthogonal to Scala.js, so it should not be part of the Scala.js project.

[2015-03-17 12:51] atrauzzi commented on #1552
Supporting tooling with official plugins makes your offering more appealing.  I suppose you can hope for a smattering of inferior options to emerge over time.  But if you're interested in adoption, sometimes it helps to build roads to making this project easier to use.

[2015-03-17 15:42] InTheNow opened #1553 "Missing impl's in Integer, Char, Long and String"
As mentioned in #1549, the following are missing from javalib:

- ```Integer toString(i: scala.Int, radix: scala.Int): String, Integer highestOneBit(i: Int): Int```
- ```Char forDigit(digit: Int): Char , def forDigit(digit: Int, radix: Int): Char```
- ```Long toString(value: Long, intRadix: Int): String```
- ```String  regionMatches(s: String, ignoreCase: Boolean, toffset: Int, other: String, ooff

[2015-03-17 15:53] sjrd commented on #1553
If not a new PR, they should at least be in separate commits. Each in a separate commit, actually, except related ones. So `{Integer,Long}.toString` would go together, and for `regionMatches` together.

[2015-03-17 15:57] sjrd commented on #1552
I disagree. It only leads to more coupling between projects. It's best to just write an additional, independent project, that links both things, if that even makes sense. Here I think it doesn't even make sense to Scala.js itself. As I said, this is the kind of responsibility that sbt-web takes and is made for.

Contrary to other systems like GWT, Scala.js is *not* an all-powerful platform that tr

[2015-03-17 15:57] sjrd commented on #1541
This is a good point. I need to think more about this.

[2015-03-17 15:59] InTheNow commented on #1553
I'm happy to do separate PR's as you suggest, as it's easier to squash changes later on. I'll proceed like this, if that's OK

[2015-03-17 16:01] InTheNow commented on #1553
Ok - will add as separate commits in #1549

[2015-03-17 19:50] atrauzzi commented on #1552
Obviously it wouldn't be in this repository.

[2015-03-17 20:32] #1550 closed

[2015-03-17 20:33] sjrd commented on #1552
Then this is not the right place to discuss it ;-) I suggest you send a mail on the mailing list. Thanks.

[2015-03-17 20:33] #1552 closed

[2015-03-19 09:25] japgolly opened #1555 "PhantomJs: ??? in onError + JSCom has been closed"
Reproducies:

[code]

It's been failing ever since I switched `jsEnv` to phantom js.

I get (abbreviated):

[code]

When I run `last core-js/test:test` I get:

[code]

[2015-03-19 09:28] sjrd commented on #1555
Thanks for the report. I'll probably not be able to look into it before 26th, though.

[2015-03-19 09:32] japgolly commented on #1555
np :)

I'll lock in a commit in the reproduction instructions above and switch off phantomjs for now.

[2015-03-19 13:54] #1543 closed

[2015-03-19 18:34] gzm0 commented on #1525
After investigations with @betehess, we found several issues:

- Rhino filling up PermGen space
- Node.js timeouts being too low (#1546)

The latter was most likely caused by the way we launch slaves in the test interface. Using CPU count to estimate the number of JS VMs does not work very well in a kernel-virtualized environment like docker, which Travis uses IIUC. It is unclear to me how and whe

[2015-03-19 18:35] gzm0 commented on #1555
Sweet!! Finally we can reproduce this.

[2015-03-20 16:52] gzm0 opened #1556 "Test adapter provisions slaves too aggressively"
Multiple people report performance regressions (see #1525) leading up to failure (due to timeout and PermGen restrictions) that are mainly due to the changes introduced by #1299.

We must launch slaves less aggressively or fallback to the old implementation.

A workaround for the issue is to add the following to `project/build.sbt`:

[code]

[2015-03-20 16:53] gzm0 commented on #1556
@sjrd I think you agree that whatever we do, this must make the 0.6.3 milestone. So please keep me in the loop on the release cycle so that I can at least revert my changes.

[2015-03-20 16:55] gzm0 commented on #1525
@betehess could you please try the workaround in #1556 and confirm this fixes your issues?

[2015-03-20 17:02] gzm0 commented on #1525
@InTheNow has just confirmed (on gitter) that the workaround in #1556 fixes this issue.

[2015-03-20 20:23] gzm0 commented on #1555
I can't reproduce this :( It seems this is really just a race somewhere...

[2015-03-20 20:39] japgolly commented on #1555
Oh no really? You definately checked it out to aed8b40 (cos I switched to Node JS after that commit). For me it happens 100% of the time. Maybe there's an environmental factor.​..

[code]

[2015-03-20 20:41] gzm0 commented on #1555
[code]

That might be it... :S

[2015-03-22 16:21] marklister opened #1560 "java.io.StringReader.read(c:Array[Char],offset:Int,len:Int) returns 0 at eof. Required -1"
StringReader.read(c:Array[Char],offset:Int,len:Int) should return -1 at eof.  At the moment it returns 0.

[2015-03-22 16:27] gzm0 commented on #1560
Indeed...

[2015-03-23 04:57] gzm0 opened #1564 "Allow overriding path prefixes"
If a library (as in Scala.js library) I use depends on, say, jQuery.js, and I need a webjar (or library) that bundles jQuery.js as well, there is no way I can resolve this conflict (before that, you could use filter for everything. But now it comes after the first resolution step).

[2015-03-23 05:07] ramnivas commented on #1512
@sjrd I see your point. However, I believe in non-ScalaJS usages of SBT, usually the output files are smaller and/or don't take that long to write. Furthermore, in real-world apps using ScalaJS, a use of some watch-based tool is very likely. So it will be nice to have it be resolved for user before he faces this issue.

Alternatively, as you suggested users can override the `fastOptJS` task. I can

[2015-03-23 12:17] #1560 closed

[2015-03-23 12:43] sjrd commented on #1564
Ah, good point.

[2015-03-23 14:49] gzm0 commented on #1443
Testing has shown that this is "caused" by reusing the same compiler multiple times in `DirectTest`. A typical stacktrace looks like this (always ends in `compileLate`):

[code]

[2015-03-23 14:50] gzm0 commented on #1443
@adriaanm have there been any changes in 2.11.5 that could cause this?

[2015-03-23 15:43] gzm0 commented on #1525
@betehess can we close this?

[2015-03-23 16:26] betehess commented on #1525
I am still off the grid until tomorrow. I am happy to close this now if
@InTheNow is happy with his experiments.
On Mar 23, 2015 8:43 AM, "Tobias Schlatter" <notifications@github.com>
wrote:

[2015-03-23 17:55] InTheNow commented on #1525
@gzm0  The workaround works, you have an issue for further ideas and I agree with your analysis.

:+1: from me to close this issue

[2015-03-23 17:57] #1525 closed

[2015-03-23 18:58] #1556 closed

[2015-03-24 06:53] #1490 closed

[2015-03-24 09:54] japgolly commented on #1490
:+1: :)

[2015-03-24 10:30] antonkulaga opened #1565 "numerous Boxed and memory errors"
After switching to 0.6.x (in all 0.6.0 -0.6.2) I started to get numerous memory related errors in different project although I already increased sbt xmx to 3G
Depending on the project I get either Boxed Error or Not enough space or GC error.
A good example of such erorr is https://github.com/w3c/banana-rdf/issues/250

[2015-03-24 10:33] sjrd commented on #1565
Duplicate of #1525?

[2015-03-24 10:42] antonkulaga commented on #1525
dependencyOverrides += "org.scala-js" %% "scalajs-sbt-test-adapter" % "0.6.0" workaround does not help me

[2015-03-24 10:42] antonkulaga commented on #1565
This errors occured even though I had dependencyOverrides += "org.scala-js" %% "scalajs-sbt-test-adapter" % "0.6.0"

[2015-03-24 17:54] gzm0 commented on #1525
Did you add it in `project/build.sbt`? (not in `project/Build.scala` or `build.sbt`)

[2015-03-24 17:54] gzm0 commented on #1525
It is an override for the sbt-plugin's dependencies, not your project's.

[2015-03-24 18:01] antonkulaga commented on #1525
I added it to project/plugins.sbt

[2015-03-24 18:31] gzm0 commented on #1525
Ok. That should be fine. Could you give us some debug information? Apparently you are facing a different problem that banana-rdf, since they report that the dependency override works for them.

[2015-03-26 13:09] yelbota opened #1569 "AssertionError when crossProject is used as a ProjectRef in another project"
Hello everyone!

I encountered with a problem appeared when crossProject imports in other one as a ProjectRef.
This repo show how to reproduce this error https://github.com/yelbota/scalajs-crossProjectRef-error
Travis build log https://travis-ci.org/yelbota/scalajs-crossProjectRef-error

[2015-03-26 13:26] sjrd commented on #1569
The Travis URL you point to does not show anything.

[2015-03-26 13:28] sjrd commented on #1569
I get this error locally:
[code]

[2015-03-26 13:33] yelbota commented on #1569
Check it now.

[2015-03-26 13:35] yelbota commented on #1569
I fix a travis. Error logs are matches

[2015-03-26 15:08] gzm0 commented on #1569
Could we please have a minimal example in this ticket itself?

[2015-03-26 16:02] yelbota commented on #1569
+ /build.sbt
    + /crossProjectRef/build.sbt

`crossProjectRef/build.sbt` contains definition of crossProject: `crossProjectJS` and `crossProjectJVM`. `build.sbt` in root contains two `ProjectRef`s. Thats all. When we try to run a project an error occurs.

    Directory scalajs-crossProjectRef-error/.jvm is not contained in build root scalajs-crossProjectRef-error/crossProjectRef

[2015-03-26 17:33] InTheNow commented on #1569
I believe that the error is in the example (and hence the original build). Using this as the subproject file works:

[code]

Why? see http://www.scala-sbt.org/0.13.5/docs/Getting-Started/Multi-Project.html#default-root-project

"Any .sbt files in foo, say foo/build.sbt, will be merged with the build definition for the entire build, but scoped to the hello-foo project."

so when the sub project sbt

[2015-03-26 17:55] yelbota commented on #1569
Looks like absolute path. What if a referenced project placed outside of hierarchy? It could be project in other git repository.

See
http://www.scala-sbt.org/0.13.5/docs/Detailed-Topics/Paths.html#constructing-a-file

    val root = Project("root", file("."))

[2015-03-26 18:04] InTheNow commented on #1569
yes - ` only be used when defining the base directory of a Project` - But `lazy val crossProjectRef = crossProject.crossType(CrossType.Pure).in(file("."))` is not a Project - it is something else

[2015-03-26 18:14] yelbota commented on #1569
Semantically it is a project. `CrossProject` have similar API and used for define "real" projects.

[2015-03-26 18:17] yelbota commented on #1569
Look at this. ProjectRef can be anywhere
http://www.scala-sbt.org/0.12.4/docs/Dormant/Full-Configuration.html#project-relationships

[2015-03-26 18:21] InTheNow commented on #1569
I'm just saying that it's not a Project (a sealed trait), and can't be thought as such

[2015-03-26 20:26] yelbota opened #1571 "AssertionError in FrameworkDetector when jsDependency log something in console on initialize"
java.lang.AssertionError: assertion failed
      at scala.Predef$.assert(Predef.scala:165)
      at org.scalajs.sbtplugin.FrameworkDetector.detect(FrameworkDetector.scala:68)
      at org.scalajs.sbtplugin.ScalaJSPluginInternal$$anonfun$40.apply(ScalaJSPluginInternal.scala:455)
      at org.scalajs.sbtplugin.ScalaJSPluginInternal$$anonfun$40.apply(ScalaJSPluginInternal.scala:440)
      ...

I have

[2015-03-26 20:29] yelbota commented on #1571
I'm working on fix that will make `Framework Detector` resilient for such cases.

[2015-03-27 10:22] yelbota commented on #1512
I have same problem with gulp.

[2015-03-27 18:48] caseylucas commented on #1512
@ramnivas Have you tried the watchDelay webpack option? Based on docs at http://webpack.github.io/docs/configuration.html it might be what you want or at least help.

[2015-03-27 19:08] gzm0 commented on #1512
@sjrd maybe we should consider this anyways. It seems to be pretty hard to implement this in user space (n.b. because of how we handle caching in the tools).

One way to do this would be to add an `AtomicWritableFileVirtualTextFile` that basically moves on close of the writer (just like `WritableFileVirtualTextFile`).

[2015-03-28 07:33] sjrd commented on #1512
I guess we'll have to do that, yes.

[2015-03-28 13:21] donnut opened #1573 "Tutorial: can not find main"
When setting up the Hello World tutorial, in step 1 sbt complains:
[code]
I'm using scala 2.11.6, sbt 0.13.7.
Any thought on what can go wrong here?

Thanks

[2015-03-28 18:37] gzm0 commented on #1573
Welcome to Scala.js. This is not the right place to ask questions like this. Please use SO or the mailing list.

Have you defined the main class `TutorialApp`? sbt cannot find it.

[2015-03-28 18:39] gzm0 commented on #1573
If you need further assistance on this, please create an SO post or ask on the mailing list or gitter and cross reference here.

[2015-03-28 18:39] #1573 closed

[2015-03-30 02:20] gzm0 commented on #1512
Hmmm... this is actually not reliably doable in Java 6. The `renameTo` method does not give any guarantee to work.

I guess we'll have to implement it with `renameTo` and hope it works and fix this, once we switch to JDK 7 only.

[2015-03-30 14:59] gzm0 opened #1575 "Retry in Jenkins does not work"
It seems that the retry builds deterministically fail to checkout the git repo: https://scala-webapps.epfl.ch/jenkins/job/scalajs-pr/1541/BuildGraph/

[2015-03-30 16:09] sjrd commented on #1575
It's just the DDoS on GitHub. It'll come back at some point.

[2015-03-30 16:09] #1575 closed

[2015-03-31 08:25] PhilAndrew opened #1576 "jsDependencies on windows not allowing a sub-directory JS dependency to be referenced"
jsDependencies +=
  ProvidedJS / "moment-recur/moment-recur.min.js"

When I
```sbt publishLocal```

Then open the jar file to look at it at
C:\Users\philip\.ivy2\local\io.github.widok\scala-js-moment-recur_sjs0.6_2.11\0.1.0-SNAPSHOT\jars
 it has
{"libDeps":[{"resourceName":"moment-with-locales.min.js"},{"resourceName":"moment-recur\/moment-recur.min.js"}],"origin":{"configuration":"compile","modul

[2015-03-31 08:27] sjrd commented on #1576
Thanks.

[2015-03-31 10:22] #1571 closed

[2015-03-31 10:22] #1569 closed

[2015-03-31 11:39] #1553 closed

[2015-03-31 14:18] sjrd opened #1577 "IndexedSeqLike.Elements should be @inline"

[2015-04-01 02:05] gzm0 commented on #1475
@siriux is this still an issue, or can we close it?

[2015-04-01 09:22] antonkulaga opened #1578 "better async error reporting"
I have a lot async things in my app and it is a huge pain to debug them, cause I get errors like:
[code]
It is possible (at least at fast.opt mode) to report async function that crashed?

[2015-04-01 10:09] siriux commented on #1475
Hi,

I think you can close it. I just wanted to know that was not a possible
future block if I choose to use scala-js.

If I find problems implementing it in the future, I'll reopen it.

Thanks
On Apr 1, 2015 11:05 AM, "Tobias Schlatter" <notifications@github.com>
wrote:

[2015-04-01 11:19] #1475 closed

[2015-04-02 03:30] lihaoyi commented on #1578
FWIW this was also a huge pain point for me working on www.scala-js-fiddle.com. I never found a good solution for it

[2015-04-02 04:37] ngbinh commented on #1578
same here! I am interested in the solution

[2015-04-02 08:18] japgolly commented on #1555
I've just started getting this in a completely different (private) repo. :(

[2015-04-02 08:32] japgolly commented on #1555
This has something to do with object initialisation order I believe.
Changing `val` to `def` or `lazy val` in one of my `object`s  has made this go away. But really, I can't see anything even close to a cyclic dependency or anything. In fact, the object I mentioned is a new one I created an hour ago that only 2 tests reference.

[2015-04-02 08:36] sjrd commented on #1578
Can someone write a short reproduction, please?

[2015-04-02 08:40] japgolly opened #1580 "Compiler crash during phase: jscode"
Trying to determine the cause of #1555, I was changing `val` to `lazy val` in my μTest test and this happened:

[code]

[2015-04-02 08:47] japgolly commented on #1580
Wow this is bizarre.

This works:
[code]

Changing `val subj` to `lazy val subj` causes this:
[code]

[2015-04-02 08:49] japgolly commented on #1580
Changing `val mf1` to `lazy val mf1` causes:
[code]

[2015-04-02 08:59] sjrd commented on #1580
Hum, I sort of "agree" with jscode ^^ It definitely should not receive a `def` inside a method body. The def should have been lifted out as a method in the enclosing class prior to getting to jscode. Maybe uTest generates something funny that the later phases of the compiler cannot cope with?

Does the same code compiles and works on the JVM? I would expect genjvm to crash just as much on such an

[2015-04-02 09:05] japgolly commented on #1580
I just tried on JVM, it's slightly different.
It crashes with `lazy val` but works with `val` and `def`.

[2015-04-02 09:06] sjrd commented on #1578
I guess [this](https://github.com/scala-js/scala-js/blob/master/library/src/main/scala/scala/scalajs/concurrent/RunNowExcecutionContext.scala#L13) and [that](https://github.com/scala-js/scala-js/blob/master/library/src/main/scala/scala/scalajs/concurrent/QueueExecutionContext.scala) are to blame. They should just `t.printStackTrace(System.err)`. I wonder why they didn't do that in the first place

[2015-04-02 09:07] sjrd commented on #1580
So what snippet exactly works on the JVM but not on JS?

[2015-04-02 09:13] japgolly commented on #1580
[code]

I just tested combinations of `mf1`/`subj` on both JVM and JS:
[code]

So this is a μTest problem, huh?

[2015-04-04 04:50] japgolly opened #1581 "Compiler crash with Shapeless 2.10"
Trying to build [Shapeless 2.10](https://github.com/milessabin/shapeless/tree/scalajs-2.10.x), the main module `core` compiles fine but the `examples` module crashes the compiler.

You can see the whole log here in Travis:
https://travis-ci.org/milessabin/shapeless/jobs/57126130

Crashy bit is:
[code]

[2015-04-04 05:00] japgolly commented on #1581
A difference between the 2.1{0,1} builds of Shapeless is that 2.10 has an extra dependency:

[code]

Not knowing macro stuff, do you think this is relevant?

[2015-04-04 08:24] sjrd commented on #1581
The quasiquotes plugin works with Scala.js. I use them.

The output of `last` would be useful, to get the stack trace.

[2015-04-04 08:32] sjrd commented on #1581
Ah, I see the Travis log has the stack trace. This is going to be hard to debug :-s

[2015-04-04 11:36] japgolly commented on #1581
FYI a very similar crash occurs in Shapeless' `sbt core/test:compile`.

Where the above is going on about `shapeless.examples.ZipperExamples` and `TypeRef(TypeSymbol(final abstract class Long extends ))`, the core tests crash with `shapeless.ZipperTests` and `TypeRef(TypeSymbol(final abstract class Byte extends ))`.

[2015-04-04 11:42] milessabin commented on #1581
If you can narrow it down to a specific test in `core/src/test` that would be helpful.

[2015-04-04 12:49] japgolly commented on #1581
Two tests exhibit this:
* serialization.scala
* typeclass.scala

[2015-04-04 12:54] japgolly commented on #1581
This is enough to reproduce it:

[code]

[2015-04-05 10:36] antonkulaga commented on #1525
I have the same problem with b-rdf  I am really surprised that @InTheNow managed to successfully run tests with "org.scala-js" %% "scalajs-sbt-test-adapter" % "0.6.0" hack

[2015-04-05 10:48] InTheNow commented on #1525
the tests were run on travis - see https://travis-ci.org/w3c/banana-rdf/builds/55200281 and related PR for code changes

[2015-04-05 10:54] antonkulaga commented on #1512
Does anybody need JDK6 at all? I think scala-js users use scalajs mostly for their own projects that do not have JDK6 legacy stuff.

[2015-04-07 10:12] ochrons opened #1582 "Parsing hexadecimal Long that has 0x80000000 bit set fails"
[code]
Throws `Uncaught java.lang.NumberFormatException: For input string: "bfc94973"` but should return 3217639795

[2015-04-07 10:47] ochrons opened #1583 "Integer.parseUnsignedInt is not implemented"
Makes it hard to parse 32-bit hex strings. Especially since Long parsing has a bug too (#1582).

[2015-04-07 12:06] InTheNow commented on #1582
I have a fix + test for this and will PR shortly for review.

[2015-04-07 12:13] InTheNow commented on #1583
Method only since Java 8 => perhaps reason for not being there?

[2015-04-07 12:20] ochrons commented on #1583
Don't see no reason to not support useful some Java8 lib features in Scala.js :)

[2015-04-08 16:10] InTheNow opened #1585 "Linker crash with shapeless"
As per https://github.com/milessabin/shapeless/issues/347, the linker crashes in fastoptJs when running the tests.

I've isolated the offending code and added to a [mini project](https://github.com/InTheNow/scalajs-cross-compile-example), extra details there

[2015-04-08 18:27] joelross opened #1586 "Changing abstract class to trait causes "ReferenceError: XXX is not defined""
Hello,

So, I have seen this bug and spent a while to get a reproducible scenario. I would advice to follow exactly the procedure below as it seems even a small variation causes the bug not to be triggered.

* So to begins with, clone the repo of the [scala-js-example](https://github.com/sjrd/scala-js-example-app) (I'm not sure how previously cached data alter the behavior, so I would advice to re

[2015-04-08 19:00] ramnivas commented on #1586
I ran into what looks like an identical problem just this morning (but as you mentioned, even a slight variation can cause problem to disappear, so minimizing it was tough). I am glad you could get it down to a reproducible scenario.

[2015-04-09 15:14] sjrd commented on #1583
In theory, we can certainly add Java 8-specific methods. Keep in mind, though, that they will be available only when using a JDK 8 to *compile* the code.

My main concern is about *testing* this stuff. Currently, we don't have a story for testing JDK8-only APIs. Simply putting the tests in `test-suite/` will prevent the test suite to compile when using JDK6/7. We probably need another special dire

[2015-04-09 16:15] sjrd commented on #1585
It's not the linker's fault. The IR is faulty. Checking the IR gives the following errors:
[code]
Offending part of the IR:
[code]
We can indeed see that `fresh$macro$1$module` is used thrice outside its defining scope, which is not good.

[2015-04-09 16:16] #1582 closed

[2015-04-09 16:23] sjrd commented on #1585
Well, it's not even Scala.js' fault at all. Here is the Tree we receive from scalac:
[code]
in which we can observe the same issue: `fresh$macro$1$module` is used outside its defining scope.

@milessabin I suspect this is caused by a macro coming from Shapeless. I guess it "works" on the JVM, by "chance", because the JVM back-end lets you get away with this inconsistency. But the Scala.js back-end

[2015-04-09 16:31] sjrd commented on #1585
For reference, the relevant part of the tree after `typer`, where the inconsistency is already visible:
[code]

[2015-04-09 16:44] sjrd commented on #1586
OK, I can reproduce.
The IR is correct. Also, deleting the `-fastopt.js` file, `reload`ing and re-`fastOptJS` produces the correct output. So it's almost certain that the bug is either a) in the Linker's cache or b) in the incremental optimizer.

[2015-04-09 17:22] sjrd commented on #1586
Deactivating the optimizer "solves" the issue. So it's likely a bug in the incremental optimizer (not the linker's cache).

[2015-04-09 19:28] InTheNow commented on #1585
Well... I'm treading on very dangerous territory:

 I've changed `Poly.scala` and now it works :)

[2015-04-09 19:30] sjrd commented on #1585
What's `Poly.scala`?

[2015-04-09 19:31] milessabin commented on #1585
What's the change?

[2015-04-09 19:32] InTheNow commented on #1585
the shapeless class where the macro is defined - but i may have spoken too soon

[2015-04-09 21:27] gzm0 opened #1587 "IR check identifier names"
There cannot be an identifier which is $ followed by a valid identifier that does not begin by $.

Currently, we can't enforce this in the IR check, as we need it in some deserialization hacks. In 1.0.0, we should enforce this.

[2015-04-10 08:37] milessabin commented on #1585
OK, I _think_ this all relates to my attempt to have vanilla Scala functions and (polymorphic) methods lifted to shapeless `Poly`s via a macro ... I consider that to be a largely failed experiment, which should at the very least be revisited in the light of the work on SAM support.

So I think it would be acceptable to simply disable [these tests](https://github.com/milessabin/shapeless/blob/maste

[2015-04-10 08:45] sjrd commented on #1585
OK, so, I'll close it here. Whether it should be fixed or ignored, anyway there's nothing that can be done about it on Scala.js' side.

[2015-04-10 08:45] #1585 closed

[2015-04-10 08:50] milessabin commented on #1585
FWIW, whatever I'm doing is clearly getting past the typer on both JVM and JS, so if there's a real problem then I think it's there.

Escape from a defining context _is_ allowed though ... it should just be widened to something which is meaningful in the context being escaped to. I'm fairly sure that I'm not doing anything which would require anything illegitimate.

[2015-04-10 09:25] sjrd commented on #1585
I agree that the typer failing to catch this as an error is a problem. But I do believe it *is* a problem (and, from a short discussion, so does @densh). What does it even mean to access a variable outside its defining scope? It just happens to find its way through the compiler pipeline without being hurt any further, and eventually produces bytecode that works. But it's definitely not *valid*. Wi

[2015-04-10 09:30] milessabin commented on #1585
Well, I'm not so sure. IIRC the only thing I'm interested in is the singleton type of a value. The singleton type of any value should be meaningful in any context in which the value exists. Values escape from the contexts in which they're created, and so their singleton types (qua bare singleton types, we need not know anything about them) should escape along with them.

[2015-04-10 13:14] colinrgodsey opened #1588 "Excessive LoadModule usage"
Assumptions
----------------
* Static object initialization is ~~*murky and largely undefined behavior* already~~ class-loader driven with initialization happening in the static space *-verified-*. (§5.4)
* Scala ~~may~~ will optimize static *final val* fields ~~methods~~ into pure static access (constant expressions) *-verified-* (§4.1 via §6.24)
* Static object initialization is potentially side

[2015-04-10 13:43] colinrgodsey commented on #1588
My proposed changes so far are here: https://github.com/scala-js/scala-js/compare/master...colinrgodsey:wip-loadmodule?expand=1

Definitely still a WIP, but it greatly helps my use case so far.

[2015-04-10 14:26] sjrd commented on #1588
There are certainly improvements that can be brought to module initialization, but it is not simple. Here are a couple comments on your items.

Hum, no, it's pretty well defined, actually: first access to an object causes it to initialize, just like `lazy val`s.

*If* it can prove that initializing this object is either 1) already done or 2) pure. Note that currently, scalac/JVM never does this, e

[2015-04-10 15:49] colinrgodsey commented on #1588
*Static object initialization is murky and largely undefined behavior already*
I guess it is pretty well defined in the fact that its executed in a static block of the class, but it is specifically 'class-loader' driven. Other underlying VMs are free to violate this ordering AFAIK.

Scala via JVM normally does not have to worry about this at all, as its assumed to just be init'd when the class loa

[2015-04-10 16:23] colinrgodsey commented on #1588
I'm assuming this behavior has also changed between scala versions. I take that as a cue that this is undefined behavior, or at least behavior that is not to be relied upon. Given that they're relying on VM mechanics to lazy-load the static space, I think that gives us some freedom to implement VM specific mechanics that play well with JS.

One of the things I like most about scala-js is that it g

[2015-04-10 16:30] lihaoyi commented on #1588
I wonder how many module initializers are trivially pure, or can be
constant-folded to be trivially pure? I suspect that it'll be quite a large
portion.

On Fri, Apr 10, 2015 at 9:23 AM, Colin Godsey <notifications@github.com>
wrote:

[2015-04-10 17:27] colinrgodsey commented on #1588
I know for the code I'm trying to write (conversion of HdrHistogram), inlines are almost useless to me because of the LoadModule use. Im writing the scala specifically to take advantage of js.Dynamic types, and that involves some extra sugar that is not compiling down in an favorable way.

I'm trying to write some of the more performance-intensive portions in a way where I can write 'javascript in

[2015-04-10 18:08] sjrd commented on #1588
Dropping load modules for `final val`s in top-level objects is actually specified in the Scala spec. (See constant expressions) In all other cases, they are retained.

[2015-04-10 18:13] sjrd commented on #1588
Btw, be wary of trying to outsmart Scala.js for performance by using `js.Dynamic`. You might think you write better code where in fact you're not. For example, `(a+b)|0` produced by Scala.js is faster than `a+b` on modern VMs.

You should measure the difference in performance before assuming that hand-written code is faster. There is a reason Scala.js outperforms hand-written js in some of our ben

[2015-04-10 19:21] colinrgodsey commented on #1588
So the patch I have should remove any leftover LoadModules from constant expression inlining, which sounds like its ok as far as the spec.

I'm actually trying to side-step long emulation, in a way which is rather specific to this use case. I'm aware of some of the int optimizations (a la asm.js) and  similar detection for 'true integer' blocks, and am still using them in the 'native-ish' code. I'

[2015-04-10 22:27] colinrgodsey commented on #1588
@sjrd I cleaned up the above description, I think we're all lined up? I got extra caught up trying to figure out how method inlining works, but im just claiming unknown magic for now.

[2015-04-11 20:18] ochrons opened #1589 "Switch statement with "if" causes compiler to fail"
[code]

produces

[code]

[2015-04-11 22:17] peterbecich opened #1590 "`Scala.js cannot be run in a forked JVM`"
I'm trying to add Scala.js 0.6.2 to a Play project, but cannot load the project due to this error.  I believe that the `ENSIME` plugin creates its own JVM process, but that is shut down.  There are no other instances of SBT running, and there is only one Java process running.

The Play project originally used Play 2.3.2 and SBT 13.5, and has since been updated to Play 2.3.8 and SBT 13.8.

The only

[2015-04-12 09:23] sjrd commented on #1590
That's because you mix both JVM stuff (Play) and JS stuff in the same sbt project. You cannot do that. You need separate sbt projects (in the same build). See https://github.com/vmunier/play-with-scalajs-example for how to use Scala.js with Play!.

[2015-04-12 09:23] #1590 closed

[2015-04-12 09:43] sjrd commented on #1588
The thing about `final val`s is not only allowed but mandatory. It is handled by scalac way before Scala.js even kicks in. It's simply constant folding. This is spec'ed. So your second bullet is completely irrelevant in this discussion, since when Scala.js kicks in, the would-be involved LoadModules are already not there at all. As far as this discussion is concerned, all LoadModules must stay or

[2015-04-12 14:27] #1542 closed

[2015-04-12 16:57] sjrd commented on #1581
Do you have a branch that I can simply clone and build to reproduce the problem? Ideally, I would like to know how to publishLocal shapeless 2.10 for Scala.js core, so that I can try the above snippet in my sandbox to iterate easily on fixing the compiler.

[2015-04-12 18:26] #1589 closed

[2015-04-12 22:42] japgolly commented on #1581
Sure

1. `git clone https://github.com/milessabin/shapeless.git && cd shapeless`
2. `git checkout scalajs-2.10.x`
3. In SBT, `core/compile` or `core/publishLocal`
4. `examples/compile` :boom: or you can paste the above snippet somewhere for a similar result.

[2015-04-13 11:20] sjrd commented on #1581
OK thanks I can reproduce it.

So far, it seems like this is due to the generation of a reflective proxy for a method with a parameter which is a type refinement: https://github.com/milessabin/shapeless/blob/d59463a0c093a21345754226702cbd807015b6ca/core/src/main/scala/shapeless/typeclass.scala#L113

[2015-04-13 11:22] milessabin commented on #1581
Could you explain what a "reflective proxy" is in this context and why that's a problem. I would certainly expect the type API to be able to represent and handle refinements and singleton types faithfully.

[2015-04-13 11:31] sjrd commented on #1581
That was mostly a note-to-self. This one's definitely a bug in the Scala.js compiler plugin.

FTR, a reflective proxy is a method that is generated in addition to every normal method to be used for "reflective calls", which are the result of calls in structural types. We need to generate them for all methods at compile time, regardless of whether they're actually useful or not. Later the dce gets

[2015-04-13 11:35] milessabin commented on #1581
Ahh ... understood. But there really shouldn't be any reflection involved here ... I only ever refine with type members, not terms.

IIRC this was a problem with unnecessary reflective code being generated for Travis Brown's "vampire methods" in Scala 2.10.x, which was fixed in 2.11, and the fix backported to 2.10.5 ... could this be related?

[2015-04-13 11:39] sjrd commented on #1581
Ah, I get your confusion. Here these are two *very* different things that happen to collide in the same spot. But in fact the type refinement which is there has nothing to do with the reflective proxy being generated. As I said, reflective proxies are generated for *all* methods in the world, including the method `deriveHCons`. There is some code in the compiler that does this. But then this code

[2015-04-13 11:42] milessabin commented on #1581
Thanks for the clarification. Really pretty much everything post-typer is a closed book to me at the moment. It type checks? It must be good! ;-)

[2015-04-13 11:44] sjrd commented on #1581
Eh eh ^^ Whereas for me anything before erasure is mostly irrelevant. ;-)

[2015-04-13 12:54] sjrd commented on #1581
Further debugging notes.

The issue appears when extracting the `resultType` of `sym.tpe` entering `posterasure` at https://github.com/scala-js/scala-js/blob/f46082dcaded1fef5272fb41aea20fe6eeb71cf8/compiler/src/main/scala/org/scalajs/core/compiler/GenJSCode.scala#L835
In this case, on 2.10.x, `sym.tpe` is a complicated `ExistentialType`:
[code]
and calling `.resultType` throws the `AssertionError

[2015-04-13 13:25] colinrgodsey commented on #1588
I'm thinking that in my examples, the inlining im seeing must be caused by the scalajs optimizer and not just the constant folding done in the scala compiler, because im seeing LoadModules in a side-effect only  position in the output (BlahModule$(), 0). So these can still be optimized out, at least in the desugaring phase.

I think we agreed there are some situations where the LoadModule 'desugar

[2015-04-13 14:00] sjrd commented on #1588
Yes, you're right.

Yes.

Absolutely.

Yes, and no. Lots of stuff in the Scala spec differ to "the VM" for lots of behaviors. But we have to keep in mind that this spec was written thinking that "the VM" was always a JVM. So every time we choose *not* to behave like the JVM, we're breaking the Scala spec. We must not do so lightly. Sometimes it's ok to do it, but we should weigh the benefits vs th

[2015-04-13 14:06] colinrgodsey commented on #1588
Awesome! I'll work with those few points above as action items and try to produce a clean PR.

I'll move the bigger picture convo to a new issue after that.

[2015-04-13 14:19] colinrgodsey commented on #1588
I'll make a new issue for the action items here too

[2015-04-13 15:19] jducoeur opened #1592 "Feature request: add JSDependency.minified()"
One of the most common problems with SJS at the moment is its handling of minified JavaScript dependencies.  When you want to use an existing JavaScript library, you generally want to use the "raw" form during development, so you can trace into it during debugging (in, eg, the Chrome debugger), but the "minified" form during production, for efficiency.  Most JS libraries ship both forms, and it is

[2015-04-13 16:51] gzm0 commented on #1581
Hmmm... Do you think you could pattern match on the type and if it is an `ExistentialType` expect the inner type and use it's result type (in theory we could have an existential method type whose return type is a primitive type).

Using the result type should be easy: If it is a known type, keep it, if it is a (now free) variable, erase to `Object`.

IIUC this basically does the job erasure fails

[2015-04-13 16:54] gzm0 commented on #1592
I think that makes sense. It is also plausible to implement this in a backwards compatible manner, as the fallback if no minified exists, should be the normal version anyway.

The dependency tree and linearization would in any case be calculated based on the non-minified versions. I hope this is acceptable.

@sjrd opinions?

[2015-04-13 17:00] sjrd commented on #1581
Nope. For an existential of a `MethodType`, you need to distribute the existentially qualified variables when recreating an independent `resultType`. This is what crashes, btw. Using the underlying `resultType` as is would be unsound and very hazardous.

[2015-04-13 17:07] sjrd commented on #1592
Sounds good and well thought-of. :-)

[2015-04-13 17:23] jducoeur commented on #1592
I can't think of any cases where that isn't correct.  (Indeed, I would worry about any library where it wasn't...)

[2015-04-13 17:26] colinrgodsey opened #1593 "Analyze for elidable LoadModules in JS desugaring"
Branching from discussion in #1588

Intent
-------
Alter the behavior of JSDesugring to omit unnecessary module load calls in emitted js.

Goals
-------
*Elidable module inits in desugared JS trees based on guarantee of construction
*Pre-init modules that have no static-time side-effects or inheritance that can produce all elidable module loads.

Actions
---------
1. Add initializedModules Set to

[2015-04-13 17:30] colinrgodsey commented on #1588
defering to #1593 for now

[2015-04-13 17:30] #1588 closed

[2015-04-13 19:12] gzm0 commented on #1592
Actually there is one minor point I'm not so sure of: Should we have two different `packageJSDependencies` tasks (just like we have `fastOptJS` and `fullOptJS`), or should we make it depend on another setting?

The thing which is ugly with the setting, is that the file contents of `<name>-jsdeps.js` depend on a setting (which is IIUC not optimal).

Another option would be to change the artifact pa

[2015-04-13 19:14] sjrd commented on #1592
Or simply have `packageJSDependencies` systematically produce *both* `<name>-jsdeps.js` and `<name>-jsdeps.min.js`.

[2015-04-13 19:15] sjrd commented on #1592
But I think having two tasks is better.

[2015-04-13 19:17] jducoeur commented on #1592
Hmm.  I don't think I have a passionate opinion here.  Having a second task adds slightly to the boilerplate, but only to a constant degree, and having a separate -jsdeps.min.js means that, eg, my .html file goes from saying:
[code]
to
[code]
So long as the generated launcher does the right thing (for those who are using it), it seems likely to be fine...

[2015-04-13 20:56] gzm0 commented on #1581
I do not really understand what that means. But IIUC, we have the option of checking if the type of a method is an `ExistentialType` and if so, just assume the result is boxed, right?

This sounds reasonable IMO and we should definitely emit a warning if this happens. Could we use Java's `@SuppressWarnings` so that users can suppress the warning for a specific method?

[2015-04-13 21:04] sjrd commented on #1581
OK I'll try that. And I'll have a look at whether we can leverage `@SuppressWarnings`.

[2015-04-14 02:45] gzm0 commented on #1564
I will introduce a `ManifestFilter`, that operates on `JSDependencyManifests`, rather than `FlatJSDependencies`. Further, I will add a factory for a filter, that lets you re-interpret a dependency from given origins.

[2015-04-14 19:50] gzm0 commented on #1565
@antonkulaga can we close this? Do you still see these issues?

[2015-04-14 22:18] gzm0 opened #1594 "Investigate whether PhantomJSEnv swallows webpage parse errors"
Running invalid JS syntax (e.g. `{a: 1, a: 1}`) in PhantomJS should report a descriptive error. Not sure if it does.

[2015-04-14 22:18] jducoeur opened #1595 "Double-definition in a JS literal generates invalid ES5 JavaScript"
The example code that caused this was essentially:
[code]
The actual error from test was swallowed, but @gzm0 says that PhantomJS reports a "parse error" on this situation -- the output JS is considered invalid.

Conversation on Gitter suggests that the compiler should catch this double-definition before we get to runtime.

[2015-04-14 22:20] gzm0 commented on #1594
Discovered by #1595

[2015-04-15 21:54] gzm0 opened #1596 "Macro to safely cast from Scala class to JS trait"
Write a macro to do the following with static checking:

[code]

[2015-04-15 21:54] gzm0 commented on #1596
@sjrd should we have a member `asJS` that we pimp on everything? Or rather a function in the `js` namespace?

[2015-04-15 21:55] lihaoyi commented on #1596
that's not really a cast is it? That's more a conversion since the data structure will need to be re-created for anything with attributes, which are methods in Scala but raw-attributes in JS?

[2015-04-15 21:57] gzm0 commented on #1596
It is a cast, since `Bar` has `@JSExport` on `foo`. If you have `@JSExport` on an attribute in Scala, it will be implemented as a property in JS:

[code]

[2015-04-15 21:59] lihaoyi commented on #1596
What about `asInstanceOf`s? Those check the prototype chain, and we allow `asInstanceOf` for Javascript classes

[2015-04-15 22:09] gzm0 commented on #1596
You mean `isInstanceOf`s. Indeed, they are an issue. But I guess we will only allow the conversion for traits extending `js.Any`. These do not allow `isInstanceOf`.

[2015-04-15 22:32] sjrd commented on #1596
Don't pimp something on everything, ever. This should be a separate function.

[2015-04-15 22:38] colinrgodsey commented on #1593
@sjrd Is there any good testkit project that will allow me to test both the scjsir compiler and the JS emitters in tools.javascript together? I'm having issues finding a test project that has access to both classpaths

[2015-04-15 22:43] sjrd commented on #1593
The tools are part of the Build itself. Just `reload` and run the `testSuite/test`. That will make all the tests you want.

[2015-04-15 23:41] gzm0 commented on #1593
@colinrgodsey We currently do not have unit tests for the tools. You could start adding unit tests in `tools/jvm/src/test`. (There is currently no test framework we could use that cross compiles JS / JVM)

If you feel fancy you can also write a little shim for JUnit and Jasmine so that you can run the tools unit tests in both environments...

[2015-04-15 23:47] gzm0 commented on #1596
Ok. But then we have the issue that we need two type parameters but only one that you specify in general...

We could do:

[code]

I don't like any of them... We could protect the pimp with an implicit at the cost of having a sensible error message... :(

[2015-04-16 12:39] colinrgodsey commented on #1593
@gzm0 cool, just wanted to make sure i wasnt missing any components. I m probably going to see if i can make something similar to the JSASTTest, as I'm mostly going to be fiddling with the desugaring and want to verify the javascript.Trees

[2015-04-20 07:31] japgolly commented on #1555
Is there anyway we can prioritise this? This issue follows me around from project to project.

[2015-04-20 07:35] japgolly commented on #1555
It always mentions `doWriteLine__p4__T__V`. Is there any chance this `doWriteLine` fn isn't available in PhantomJS 2.0 or something like that?
[code]

[2015-04-20 07:45] japgolly commented on #1555
This makes me want to swear. A lot.
https://github.com/ariya/phantomjs/issues/13112

PhantomJS releases are very few and far between... Could we pretty-please have a workaround in SJS for this? Like a configuration setting that determines which `console.xxx` method to use?

[2015-04-20 08:22] sjrd commented on #1555
If you can come up with a work-around in [doWriteLine](https://github.com/scala-js/scala-js/blob/master/javalanglib/src/main/scala/java/lang/System.scala#L258) that still uses `console.error` on other environments, I'm happy to take it. A configuration setting is unlikely to work, since we can't change the code of `doWriteLine` from a setting.

In any case I'll schedule a least a work-around for 0

[2015-04-20 12:07] japgolly commented on #1555
I wonder what we could do. Thinking slightly bigger, it might be handy if developers were able to control the behaviour of `System.{err,out}` in their Scala-JS apps... In addition to allowing devs to solve this specific problem themselves (still a burden though), it will also allow them to do things like mute noisy libraries, and replace stderr (in prod) with an ajax call that sends error messages

[2015-04-20 12:12] sjrd commented on #1555
You can mutate `java.lang.System.out` if you want.

[2015-04-20 12:17] japgolly commented on #1555
How? `System.setErr(System.out)` causes `Referring to non-existent method jl_System$.setErr__Ljava_io_PrintStream__V`.

[2015-04-20 12:21] sjrd commented on #1555
Ah, right. Well I guess we need to add those. :-s

[2015-04-20 12:30] japgolly opened #1598 "System.set{Out,Err} missing impl"

[2015-04-20 12:42] japgolly commented on #1555
Ah, I thought I was missing something again. :) Raised #1598

So the above will facilitate users being able to workaround it themselves (everywhere in source). What should we do to prevent such a need? Maybe redirect `System.err` to ` out` for all PhantomJS envs? Is there a setting similar to `initialCommands in Console` but for JSEnvs? If so, users could add the redirection once in SBT to have it

[2015-04-20 12:49] sjrd commented on #1555
You can subclass `JSEnv` classes. I think they all have an overridable method that corresponds to this. For PhantomJS that would be https://github.com/scala-js/scala-js/blob/master/js-envs/src/main/scala/org/scalajs/jsenv/ExternalJSEnv.scala#L30

[2015-04-20 17:01] gzm0 commented on #1555
Indeed. Actually, I think we should rather solve this particular problem on a JS level (so the Scala code remains as VM agnostic as possibled). Stderr will automatically be redirected to `console.log`, if `console.error` does not exist. Therefore, it should be sufficient to do this:

[code]

And then use this, instead of the standard PhantomJS:

[code]

[2015-04-21 05:58] japgolly commented on #1555
That looks like it'd do the job. Is this something you envision being part of Scala.JS? It's quite a large snippet :)

Also that's a lot of boilerplate just to add some initial-JS. It might be worthwhile to add an `initFiles: Seq[VirtualJSFile]` arg to constructors of all JSenv classes, that appends it to each runner.

[2015-04-21 20:03] gzm0 commented on #1555
I don't know if this should be part of Scala.js. Are you working with PhantomJS 2.0 or with a pre-release version? Maybe we should upgrade to PhantomJS 2.0 anyways internally...

@sjrd what do you think? That would also give us proper websockets, meaning we could upgrade to Jetty9.

[2015-04-21 20:08] sjrd commented on #1555
Upgrading to PhantomJS 2.0 would be nice, but isn't it a bit too early to drop support for PhantomJS 1.x?
I'd sooner drop support for JDK 6 ...

[2015-04-22 07:06] japgolly commented on #1555
It's PhantomJS 2.0 final. The issue is marked as a regression so it must be a problem in certain version of PhantomJS 1.x as well.

[2015-04-22 08:14] andreaTP commented on #50
Cannot figure out why this enhancement was dropped out,
I have a real need for it in the porting of akka to scala.js (mean Props implementation and encapsulation troubles...).
Any chance to have a basic support, at least of instantiating new classes with args from a Class type?

[2015-04-22 08:21] sjrd commented on #50
This was dropped because, overall, it would *not* be an enhancement. More features does not always mean better. Reflection impairs things, such as the global optimizations which allows Scala.js to be basically on par with JS.

You can instantiate classes with args from a `Class` value if the class that is referenced has `@JSExport` (or one of its superclasses/traits has `@JSExportDescendantClasses

[2015-04-22 09:43] sjrd opened #1599 "String.codePointCount"
This was needed for the Calculator assignment in the Reactive course. I had to implement it manually in the assignment instead. It's a very simple implementation, so we should have it.

[2015-04-22 09:50] sjrd opened #1600 "Link even when running with Rhino"
There isn't any good reason anymore that running with Rhino doesn't link. This would eliminate the discrepancy between Rhino and Node.js/PhantomJS runners that Rhino only reports linking errors at runtime, rather than at link time. This sometimes confuse people, who think their code works as long as they use Rhino to test, and are surprised to see linking errors once they go to fastOptJS or runnin

[2015-04-22 09:53] andreaTP commented on #50
Ok thanks a lot!
Is there any method to inspect also constructors in Dynamic?

[2015-04-22 09:54] sjrd commented on #50
No, you cannot inspect anything.

[2015-04-22 09:59] sjrd commented on #50
Actually, rather than `js.Dynamic.global`, it would be more correct to use `scala.scalajs.runtime.environmentInfo.exportsNamespace` in the above snippet. Often they coincide, but in theory they could be different.

[2015-04-22 11:29] andreaTP commented on #50
So the only chance to have a dynamic builder without knowing parameters is at compile time, maybe a macro can do the job...

p.s. thanks for the precisation

[2015-04-22 13:07] sjrd opened #1602 "scala.reflect.NameTransformer does not link because of sys.props"
The initialization of `scala.reflect.NameTransformer` has these lines:
[code]
which causes it not to link.
It's a pity, though, because in practice these properties are *never* set and should *always* be `"$"`.

We can fix this by overriding `NameTransformer.scala`.

This is needed by ScalaTest to report nice method names instead of the scalac-encoded ones.

[2015-04-22 13:51] sjrd opened #1603 "String.startsWith(prefix, toffset) is buggy"
It calls `jsSubstring` assuming its second parameter is the length of the substring to be extracted, rather than the (exclusive) end index. So if `toffset != 0`, this gives the wrong result.

[2015-04-22 14:28] sjrd opened #1604 "Option to @JSExportDescendent{Classes,Objects} to ignore invalid descendants"
For a class/object to be exported, it must be
* Public
* Top-level
* (and therefore non-anonymous)

When using `@JSExportDescendentClasses` and `@JSExportDescendentObjects`, this causes compilation errors for subclasses/objects that do not satisfy these requirements.

Usually, this is what we want, but sometimes -- and this is true for ScalaTest -- we would prefer these to be simply silently ignor

[2015-04-22 14:29] sjrd commented on #1604
@gzm0 WDYT?
/cc @cheeseng

[2015-04-22 18:15] gzm0 commented on #50
Note that stuff in `scala.scalajs.runtime` is subject to change at any time.

[2015-04-22 18:19] gzm0 commented on #1555
Is the error we get from PhantomJS catchable? If yes, we can easily monkey patch `console.error` to handle the failure gracefully. Otherwise we'll need to:

- Distinguish different PhantomJS versions
- Never user console.error when in PhantomJS

In any case, this will be a testing nightmare for us, since we'll have to test with multiple versions of PhantomJS :(

[2015-04-22 18:21] gzm0 commented on #1604
The request of having this functionality seems very reasonable. I am wondering whether an option is the right thing as opposed to another annotation... I'd also consider to simply call the parameter `force`.

[2015-04-22 18:34] gzm0 commented on #1600
IIRC there are a couple of code paths which are only tested if we run with Rhino. (Intrinsics?) Or are these tested as well if we disable the optimzer?

[2015-04-22 20:47] sjrd commented on #1600
These are tested when we disable the optimizer.

There are also code paths that are indeed only tested on Rhino, such as polyfills when TypedArrays are not available. But this is not impacted by whether we optimize or not.

[2015-04-22 21:05] gzm0 commented on #1600
Ok. Sounds good to me.

[2015-04-23 02:38] #1598 closed

[2015-04-23 02:38] #1599 closed

[2015-04-23 02:38] #1602 closed

[2015-04-23 02:38] #1603 closed

[2015-04-23 04:08] bvenners commented on #1604
Hi Scala.js-ians,

FYI, ScalaTest's Scala.js support is essentially blocked waiting on an enhancement like this. Upshot is we have so many places where we have anonymous subclasses of Suites in our own tests that it isn't practical for us to port ScalaTest's tests of itself to run on Scala.js without this feature. And our philosophy, not surprisingly, is if we can't test ScalaTest on Scala.js, we

[2015-04-23 10:34] yawnt commented on #1539
+1 for a way to find JVM classes that are not available

[2015-04-23 12:03] #1564 closed

[2015-04-23 17:51] gzm0 commented on #1604
@bvenners I can hack this over the weekend which will make it into 0.6.3. Hopefully released in a couple of weeks. Is that enough of a timeline?

[2015-04-23 17:52] gzm0 commented on #1604
@sjrd after more thinking, we shouldn't make separate annotations, simply to avoid explosion. I still prefer the name force over `ignoreInvalidDescendants` mainly due to brevity. WDYT?

[2015-04-23 20:04] sjrd commented on #1604
I'm afraid `force` implies "force exporting this class, even if it's private/anonymous/nested", which doesn't make any sense. It should ignore instead.

[2015-04-23 20:32] bvenners commented on #1604
Weekend hack would be awesome. Please post here when you have something for us to try. Thanks!

[2015-04-23 22:21] gzm0 opened #1606 "Unit test JS library resolution"
JS library resolution is growing complex. We should start adding unit tests, especially for failure cases.

[2015-04-23 22:24] gzm0 commented on #1604
That is true. Let's use `ignoreInvalidDescendants` then.

Another thing: I am a bit concerned that for ScalaTest's specific case, this is actually not the right tool. For everything else but their own tests, `ignoreInvalidDescendants` should be false (which is of course not possible).

It seems that selective disabling might be more reasonable... (but how to annotate anonymous classes?).

[2015-04-23 22:35] sjrd commented on #1604
Here are parts of a private discussion that are relevant to this issue.

@cheeseng:

@sjrd:

@cheeseng:

From this, it seems to me that the proposal perfectly fits the needs.

[2015-04-23 22:44] gzm0 commented on #1604
Indeed. I'll proceed with implementing this, then.

[2015-04-24 02:28] gzm0 opened #1607 "Move JS resolution code and JSLibResolveException to jsdep package"
They are historically in the `classpath` package but do really not depend on anything in it, so we should move them.

[2015-04-24 11:59] sjrd opened #1608 "Class/method name extractor is StackTrace is broken"
Due to the changes in the low-level encoding of classes, modules, and static methods into JS that have happened in 0.6.0 and 0.6.2, `StackTrace` does not decode the class and method names in the stack traces correctly anymore.

[2015-04-24 20:59] #1581 closed

[2015-04-24 23:28] #1578 closed

[2015-04-24 23:28] #1608 closed

[2015-04-25 02:32] gzm0 commented on #1607
Thinking of it, it makes perfect sense where it is, since it depends on the libraries on the classpath itself.

[2015-04-25 02:32] #1607 closed

[2015-04-25 02:36] gzm0 opened #1612 "ConflictingNameException constructor always throws exception"
The helper that constructs the error message calls `sys.error`, instead of simply returning the message.

[2015-04-25 03:29] gzm0 commented on #1586
We need not randomize method versions to make this work. IIUC the problem is, that the incremental optimizer considers `B extends A` and `B` to be two different classes, whereas the rest of the compiler pipeline considers them to be the same classes.

If we make method version numbers increasing over class name and not optimizer class instance, this should be solved.

I hope this is somewhat clear

[2015-04-25 08:05] #1565 closed

[2015-04-25 09:48] sjrd opened #1613 "StackTraceElement.columnNumber is an exploit of an undefined behavior"
Patching a `columnNumber` field on `StackTraceElement` instances using `js.Dynamic` is an undefined behavior. We must not do this.

This can easily be fixed by declaring a `private var columnNumber`, and exposing exported getter and setter methods for that field. (Exporting a `var` itself generates JS getters and setters, which are slow, so we don't use that for such internal stuff.)

So far, we'v

[2015-04-25 09:57] sjrd opened #1614 "System.identityHashCode exploits an undefined behavior"
The Scala (non-intrinsic) implementation of `System.identityHashCode` in [System.scala](https://github.com/scala-js/scala-js/blob/27d2cc7c6e02c5eddc100fc7572dad4a2c8783f9/javalanglib/src/main/scala/java/lang/System.scala#L149) exploits an (unchecked) undefined behavior: patching a field `$idHashCode$0` on an arbitrary Scala.js object.

In scalajsenv.js it is fine, since that is a property of the l

[2015-04-25 09:57] sjrd commented on #1614
When `WeakMap` exist (which we can test dynamically in `identityHashCode`), we can solve this by using a `WeakMap`.

But when it doesn't exist, we're in a bit of a situation. AFAICT, there is basically no solution. For that extreme case (optimizer disabled + no WeakMap), I would argue that we actually *keep using the exploit*. That would be fine even in strong mode, because in strong mode we know

[2015-04-25 10:29] antonkulaga commented on #1565
I do have those issues but I would prefer to wait for 0.6.3 to see if they will dissapear

[2015-04-25 11:47] sjrd commented on #1614
Slightly safer: if we don't have `WeakMap`, test whether the object is sealed before using the patched field fallback. And if it is sealed, only then return 42.

That would have the benefit that it would be safe against a possible Semantics option that would "check" the undefined behavior by sealing all Scala.js objects upon construction.

[2015-04-25 12:24] sjrd commented on #1614
So actually we can use the `isSealed` test only (without involving `WeakMap` at all) as a minimal fix to this issue.

Involving `WeakMap` is an enhancement that goes beyond this. We could even give proper idHashCodes to non-Scala.js objects with a `WeakMap`.

[2015-04-25 22:09] gzm0 commented on #1604
Question: Should this trigger an error or not:

[code]

While this should technically be ignored, it could be **very** unintuitive and hard to debug.

Another option would be to add a compiler flag to warn in these cases (but that's kind of unnice as well).

[2015-04-25 22:12] sjrd commented on #1604
Hum ... Good question. I believe the only reasonable thing to do is to ignore it as well, for regularity. A Scala class with `__` is unlikely anyway. It's already unlikely to have a single `_` ^^

[2015-04-25 22:14] gzm0 commented on #1604
Ok.

[2015-04-25 22:21] gzm0 commented on #1604
What happens in this case?

[code]

IMO we should fail at `trait Bar`. Otherwise we violate a sort of meta Liskov Substitution Principle. The other way around could be allowed though:

[code]

[2015-04-25 22:25] sjrd commented on #1604
It should fail at `new Bar { }`. The rationale is that exports are all *cumulative*, not *overriding*. So `new Bar { }` inherits both the `@JSExportDescendantClasses` and should comply with all of them. The one without `ignoreInvalidDescendants` causes an error.

But if you declare `class Baz extends Bar` at the top-level, it's fine: it complies with all its inherited export annotations.

[2015-04-25 22:35] gzm0 commented on #1604
Ok. That also makes it easier to implement :P

[2015-04-25 23:46] #1613 closed

[2015-04-25 23:46] #1614 closed

[2015-04-26 14:53] sjrd commented on #1576
Hi back,

The encoding with `\/` seems to be normal and expected, actually. It also deserializes correctly.

Could you elaborate? I fail to trigger any kind of problem with this.

[2015-04-27 11:03] sjrd commented on #1586
The problem is that the optimizer and the emitter do not agree on the very identity of a method. For the optimizer, the identity of a method is its name + the entire entire list of class names in the parent hierarchy of its class. As such, if a method "moves" in the hierarchy, it effectively becomes a different method. Or should I say, it is deleted, and a new, unrelated method is created. And the

[2015-04-28 07:19] hrj opened #1618 "java.time.* from Java 1.8 is missing"
Java 8 has number of convenient Date & Time classes modelled on Joda Time. Would be great to be supported in Scala-JS.

Examples:
[code]

[2015-04-28 07:59] sjrd commented on #1618
This requires a *huge* amount of work to port a BSD- or MIT-licensed implementation of those to Scala. The core team doesn't have the manpower to work on this, but PRs are welcome!

[2015-04-28 08:05] hrj commented on #1618
Thanks for looking and keeping it open; I didn't expect an overnight solution to this. But I have an idea / doubt:

Is it possible to provide parts of the Java standard library as a separate Scala JS library? Will that help with the license restriction? (I am assuming there is some automated way to translate existing Java code / Java-byte-code to a Scala-JS compatible library).

[2015-04-28 08:09] sjrd commented on #1618
Oh yes, you can certainly provide parts of the JDK as separate Scala.js libraries. You just have to configure the build not to bundle the `.class` files into the `.jar`s, but only the `.sjsir` files.

There is no automated way to translate Java to Scala.js per se. I know there are a few Java-to-Scala converters out there, but they are known to be imperfect at best. If the Scala code does not depen

[2015-04-28 17:27] matthughes opened #1619 "String.format does not support thousands grouping"
The following code produces different results whether run in browser vs jvm.  ScalaJS does not appear to support the thousands separator.

[code]

[2015-04-28 19:30] sjrd commented on #1619
Indeed, it does not. PR welcome :)

[2015-04-29 04:27] #1604 closed

[2015-04-29 04:33] sjrd commented on #1604
@bvenners The fix has landed in master. Use this annotation:
[code]
If you could try at least locally that it indeed fixes your issue, that would be great.

I'll try to schedule a release end of next week or so.

[2015-04-29 04:35] gzm0 opened #1621 "Do not skip packaging JSDependencies by default"
There is no good reason we skip by default, and having to turn it on explicitly confuses developers. We will still support turning it off explicitly.

[2015-04-29 14:47] sjrd commented on #1595
So, actually, this is not an error in ECMAScript 6 anymore. It is an (early) error in ES5 strict mode, but in ES6 (even strict mode) they have reverted to the ES5 sloppy mode behavior of last-definition wins. Given this, I believe we should keep the compiler and the IR as they are now, and fix `JSDesugaring` to desugar an object literal with a double definition as a series of successive assignment

[2015-04-29 16:20] jducoeur commented on #1595
Fine by me -- my only real concern is that the above code not cause hard-to-figure-out parse errors.  (Even those wouldn't be critical if #1594 gets fixed: it was really the combination of the two that is really bad, since the JS parser crashed and there was difficult to figure out why.)

[2015-04-29 18:34] #1586 closed

[2015-04-29 21:28] matthughes commented on #1619
So... one could just hack in the *english* thousands separator of a comma but that doesn't really respect the API as grouping separator is defined by the locale.  By the logic, using . as the decimal point is also invalid as in German it should be a comma.

http://docs.oracle.com/javase/7/docs/api/java/util/Formatter.html
  	The result will include locale-specific grouping separators

However, I'm

[2015-04-29 21:29] matthughes commented on #1619
Given the decimal comment, is ScalaJS just declaring itself to use the 'en' locale?

[2015-04-29 21:31] matthughes commented on #1619
Would you accept a PR that at least added the toLocaleString method on NumberOps?  It is at least defined by every browser.  Only Safari doesn't support the locales and all the options.

[code]

[2015-04-29 21:53] sjrd commented on #1619
No, not really. But we had to implement at least the decimal separator to be able to run the Scala test suite with Scala.js and get reasonable results.

Defining `toLocaleString` with `locales` is OK. It needs the `ecmascript6` badge in its ScalaDoc, though. An example can be found here: https://github.com/scala-js/scala-js/blob/master/library/src/main/scala/scala/scalajs/js/typedarray/Int32Array.

[2015-04-30 04:17] #1595 closed

[2015-04-30 04:18] gzm0 opened #1625 "Emit warning if js.Dynamic.literal.applyDynamicNamed has duplicate keys"

[2015-04-30 05:17] japgolly opened #1626 "Incremental linker"
A while back on gitter chat, we were talking about the linker being slow.

[code]

[2015-04-30 12:51] andreaTP commented on #1487
Going to implement this here:
https://github.com/andreaTP/scala-js

but couldn't run tests and looks that the mocked implementation of ConcurrentHashMap is hidden by something else.
I added in my class a TEST method that is not in the standard library and tests couldn't compile if I call it.

Any suggestion?

[2015-04-30 13:16] sjrd commented on #1487
This is normal. For classes of the JDK, you have to implement the public API of the JDK. Even if you add other public methods, you cannot access them from users of these classes, including tests. Your unit tests should live in `test-suite/.../javalib/`, and they can only call methods that are public in the JDK API.

[2015-04-30 13:39] andreaTP commented on #1487
Thanks,
I try to do this because an inner val of the class (the mutable.HashMap) is null if not declared lazy, is it intended?
Anyhow now it works...
I'm writing some tests and that ask the pull.

[2015-04-30 13:41] sjrd commented on #1487
You may have an issue with initialization order of fields, which is a recurrent problem in Scala (not just Scala.js).

[2015-05-01 03:29] #1592 closed

[2015-05-01 03:29] #1612 closed

[2015-05-01 03:29] #1621 closed

[2015-05-01 06:41] cheeseng commented on #1604
@sjrd @gzm0 @bvenners @JSExportDescendentClasses(ignoreInvalidDescendants = true) works perfectly and fixed the blocking issue, we're now progressing in our tests in the following branch:

https://github.com/cheeseng/scalatest/tree/scala-js-0.6.3-SNAPSHOT

We shall merge the branch into scalatest/scalatest's 2.3.x branch once scala-js 0.6.3.

Thank you very much for your help!

[2015-05-01 06:49] sjrd commented on #1604
Excellent. Thanks for your tests!

[2015-05-01 07:30] rparree commented on #1618
@hrj you might be better of writing a scalajs interface to something like http://momentjs.com/ (or using it adhoc as `js.Dynamic`)

[2015-05-01 09:55] hrj commented on #1618
@rparree Thanks for the suggestion, but no, I want to share this code on server and client sides, so that I can be sure they are computing the same results, among other reasons.

[2015-05-01 10:31] rparree commented on #1618
Gotcha..i am in the same situation. At this point i am using JSR 310 on the server and momentjs (via some partial traits) on the client (so had to make different case classes for client and server for this feature)

[2015-05-01 12:28] sjrd opened #1627 "An object literal in statement position causes a SyntaxError in JS"
Simply writing this in statement position (where the result is discarded):
[code]
produces the following JS in statement position:
[code]
which causes a `SyntaxError`. Object literals are only allowed in expression position.

Note that when the optimizer is applied, this never happens, as the optimizer dce's the construction of the object literal, and only keeps the side-effects of its constituent

[2015-05-01 12:43] sjrd opened #1628 "An object literal with duplicate keys that must be unnested crashes desugaring"
This crashes `JSDesugaring`:
[code]
Note that the literal contains duplicate keys, and is an argument position, so it must be unnested.

[2015-05-01 13:25] sjrd commented on #1576
Ping @PhilAndrew

[2015-05-01 14:08] sjrd commented on #1555
What do we want to do about this? It's definitely a crasher in PhantomJS, so it must eventually be fixed.

Maybe we could add an overrideable method `customInitFiles()` in `ExternalJSEnv`, and have `AbstractExtRunner.initFiles()` call its enclosing JSEnv's `customInitFiles()` instead of returning an empty seq. That would reduce significantly the ceremony of the above workaround:
[code]
@japgolly W

[2015-05-01 14:25] #1627 closed

[2015-05-01 14:25] #1628 closed

[2015-05-01 15:46] gzm0 commented on #1555
I don't think we should. In the long run, we should provide proper support for PhantomJS 2.0, with RFC 6455 websockets and Jetty9. So we might will have to envision to create a new separate environment. In the meantime, adding `customInitFiles` is probably the way to go.

[2015-05-01 16:35] gzm0 commented on #1606
Assigning this to 0.6.4, since it requires considerable infrastructure effort.

[2015-05-01 18:00] #1512 closed

[2015-05-01 19:33] gzm0 commented on #1555
@sjrd after #1630 is in, I think we should close this and open the a more general PhantomJS 2.0 support ticket.

[2015-05-01 19:56] sjrd commented on #1555
I would leave this one open. After all it's not *solved*. We can cross-reference this ticket from the more general PhantomJS 2.0 one.

[2015-05-01 19:59] sjrd opened #1631 "Build for Scala 2.12.0-M1"

[2015-05-01 20:04] sjrd commented on #1555
OK `customInitFiles()` is in. I'll keep this open, as it's not actually solved, but remove it from v0.6.3.

[2015-05-02 19:41] InTheNow opened #1632 "StackTraceTest fails"
See [gist](https://gist.github.com/InTheNow/b06e0f9b58fc837132cd) for modified test and output.
node version is v0.10.31

Issue also reported by @gzm0

[2015-05-03 20:33] #1632 closed

[2015-05-04 23:48] japgolly commented on #1555
Anything that allows me to workaround this is acceptable to me, but that's my selfish view :) It might be better to have something provided because anyone who uses PhantomJS 2 is going to have this problem, and it could be a very long time before it's fixed upstream.

[2015-05-04 23:51] japgolly opened #1635 "Touching a file in src/test/resources triggers test:fastOptJS"
If I touch a file in `src/test/resources`, it causes a rebuild of my test JS and taking about 5 seconds.

[code]

I think this is separate from the incremental linker issue in that regardless of how fast linking can be, it shouldn't be triggered if the underlying compilation units haven't changed.

[2015-05-05 15:38] lihaoyi commented on #964
If anyone has any good workarounds or approaches to a solution, I'd love to hear it. This is the only thing blocking my [scala-parser](https://github.com/lihaoyi/fastparse/blob/low-level-intrinsics/scalaparser/src/main/scala/scalaparser/syntax/Basic.scala#L32-L33) from working in Scala.js ^_^

[2015-05-06 07:14] lihaoyi commented on #964
Here's a pretty easy way to generate bitmaps for each predicate:

[code]

I'm probably going to go ahead and use this for scala-parser. Would you mind if we included this stuff in the scala-js repository? I'd bloat the javascript by a significant amount, though I suppose it'll get DCEd if nobody is using it

[2015-05-06 07:22] sjrd commented on #964
And what about supplementary characters?

A regex still seems like a superior solution.

[2015-05-06 07:34] lihaoyi commented on #964
What's a supplementary character? Don't we just want a function from `Char => Boolean`, of which there are only 2^16 `Char`s?

[2015-05-06 07:36] sjrd commented on #964
Nope. There is also the overload taking an Int, which handles code points (up to 0x1fffff).

[2015-05-06 07:41] lihaoyi commented on #964
Hmmm ok

[2015-05-06 10:28] yelbota opened #1639 "PermGen exception during tests execution in Travis-CI"
I have an error when I use Rhino in Travis-CI
https://travis-ci.org/tenderowls/moorka/builds/61441060

    java.util.concurrent.ExecutionException: Boxed Error
      at scala.concurrent.impl.Promise$.resolver(Promise.scala:55)
      at scala.concurrent.impl.Promise$.scala$concurrent$impl$Promise$$resolveTry(Promise.scala:47)
      at scala.concurrent.impl.Promise$DefaultPromise.tryComplete(Promise

[2015-05-06 11:13] sjrd commented on #1639
You have to [increase your PermGen space](http://stackoverflow.com/a/3003986/1829647).

[2015-05-06 12:42] yelbota commented on #1639
-Xms2048M
    -Xmx2048M
    -Xss6M
    -XX:MaxPermSize=512M

Unfortunately Travis-CI already has really huge limits.

[2015-05-06 12:49] sjrd commented on #1639
Well, then I guess you're simply hitting the limit of what Rhino can endure under the constraints of Travis. I suggest you don't use Rhino in your CI, and use Node.js or PhantomJS instead.

[2015-05-06 13:08] yelbota commented on #1639
Ok. I tried to use PhantomJS, but it turned out that jsDependencies don't embeds into *-test-fastopt.js. I will try reproduce it in pure environment to be sure that it is Scala.js bug.

[2015-05-06 13:12] yelbota commented on #1639
I increased MaxPermSize to 1024M (!) and it solves a problem. Amazingly that Travis-CI allowed me to do it.

[2015-05-06 13:12] #1639 closed

[2015-05-06 14:26] sjrd opened #1641 "identityHashCode inconsistent with hashCode for JS objects"
The combination of

1. Not running the optimizer, and
2. Running on a VM supporting `WeakMap`

causes `identityHashCode(x)` to be inconsistent with `x.hashCode()` when `x` is a raw JS object. This is because `x.hashCode()` ends up calling the helper `$identityHashCode` through the helper `$objectHashCode`, whereas `identityHashCode(x)` calls the user-space implementation of `identityHashCode`.

[2015-05-06 15:40] #1641 closed

[2015-05-07 14:05] yawnt opened #1643 "lastIndexOf does not correctly handle negative fromIndex"
There appears to be a difference in the underlying implementation between Scala and JS, namely

Scala:
[code]

JS:
[code]

This can lead to infinite recursion in some Scala code where the behaviour depends on the correct handling of negative indexes

[2015-05-07 14:37] yawnt opened #1644 "docs: document general style for contributing"
Since scala-js has some strict requirements when it comes to style, commit messages, etc, I think it would be beneficial to write down a document people can look at to make sure their contributions comply to the standard

[2015-05-07 14:39] sjrd commented on #1644
Yea, we really should do that. About commit messages, we already have some good stuff at https://github.com/scala-js/scala-js/blob/master/CONTRIBUTING.md
But for coding style, people tend to learn from their first few PRs so far.

[2015-05-07 14:40] yawnt commented on #1644
true that, but I think a lot of time could be saved with a doc, especially when some newcomers' PR are as heavy as #1636, for instance

[2015-05-07 15:07] lihaoyi opened #1645 "java.lang.Integer.parseUnsignedInt is missing, java.lang.Long.parseLong misbehaves"
JVM:

[code]

JS:

[code]

http://www.scala-js-fiddle.com/gist/0e23afde84cd9d697c93?

(for some reason the fullOpt error is different from the fastOpt error, not sure why)

[2015-05-07 15:11] lihaoyi commented on #1645
Looks like `Long.valueOf` misbehaves identically

JVM
[code]

JS
[code]

[2015-05-07 15:11] sjrd commented on #1645
Duplicate of #1583

[2015-05-07 15:11] #1645 closed

[2015-05-07 15:12] lihaoyi commented on #1645
Ah I didn't see that, thanks @sjrd

[2015-05-07 16:02] mfirry commented on #1644
:+1:

[2015-05-07 16:02] andreaTP commented on #1644
:+1: :+1: :+1: :+1: :+1:

[2015-05-07 16:02] andreaferretti commented on #1644
:+1:

[2015-05-07 16:04] gianluca-sabena commented on #1644
:+1:

[2015-05-07 16:40] #1643 closed

[2015-05-07 17:53] gzm0 commented on #1644
I wouldn't spend too much time on it. People don't bother reading that stuff. For example: In `CONTRIBUTING.md` we are *very* explicit about how commit messages are to be formulated. Nevertheless, we have to correct people on every PR.
I think it is worth much more to invest some time in configuring a stylechecker properly.

[2015-05-07 18:19] lihaoyi opened #1646 "Char#isUpper behavior diverges between Scala.js/Scala-JVM"
[code]

`Char#isLower` also shares this behavior, discovered porting https://github.com/lihaoyi/fastparse to Scala.js

[2015-05-07 18:44] refried commented on #1618
Dumb question: What does the license have to do with it?

[2015-05-07 18:45] refried commented on #1618
I was about to start using scala.js but would specifically need this.

[2015-05-07 21:46] japgolly commented on #1644
"prefer"...
No, I did not prefer having to resubmit my patch to scala-js-dom like 5 times to have it nitpicked each time about whitespace and style, even tense in commit message.

It would've saved me time and energy if I were just pointed to a doc so I could adhere to all the rules the first time.

[2015-05-07 21:53] sjrd commented on #1644
@japgolly I didn't say "prefer", I said "tend to", which is factual (at least in French, maybe that subtlety is lost with my translation).

I actually agree we should have a style guide, even if people don't follow it. At least on the first review we could just say: here is the style guide, go fix your code ^^

[2015-05-07 22:11] japgolly commented on #1644
wtf??! Am I losing my mind? I even copied & pasted, how the hell did I misread that 3 times??... Mea culpa. :hand:

Ok, my apparent mental illness problem aside, being pointed to an existing doc once would be much preferred.

Also a trick a learned at my last job, people are much more receptive to this kind of thing when it comes from a machine instead of a human (resentment doesn't stick to machi

[2015-05-07 22:27] gzm0 commented on #1644
There is a PR outstanding for scalastyle... #1566

[2015-05-08 04:57] andreaTP commented on #1644
A stylechecker well configured will do most of the job.
It will be an help for newcomers to the project.

[2015-05-08 10:21] sjrd opened #1647 "@JSExport on an `apply` method is confusing"
Exporting a method named `apply`, like this:
[code]
is confusing. It exports a method named `apply` to JS, but the expected behavior would be to make the enclosing object callable (with the `()` syntax). The latter is not possible to implement, given the current state of JS. But we should emit a deprecation warning in this case. If exporting an `apply` method is really what's wanted, the following

[2015-05-08 14:24] #373 closed, assigned to nobody

[2015-05-08 15:27] InTheNow commented on #1646
it is possible that this is associated with an old issue - https://github.com/scala-js/scala-js/issues/964#issuecomment-62422223 - specifically the lack of `c.isLetter` as some implementations add a call to this as part of the `isUpper` and `isLower` checks.

[2015-05-08 15:33] lihaoyi commented on #1646
I've taken to just [pre-computing](https://github.com/lihaoyi/fastparse/blob/low-level-intrinsics/utils/shared/src/main/scala/fastparse/Utils.scala#L10-L20) and storing the bitmaps of the various [predicates I need](https://github.com/lihaoyi/fastparse/blob/low-level-intrinsics/fastparse/js/src/main/scala/fastparse/preds/CharPredicates.scala).

Naturally this wont work for 32-bit versions of these

[2015-05-08 15:53] InTheNow commented on #1646
This _works_ .... (diff in Character.scala)
[code]

[2015-05-08 16:11] gzm0 opened #1648 "TypedArray conversions should use bracket select (but use dot)"
They should not get past the Google Closure compiler. We should backport stuff from `strongmodeenv.js`.

[2015-05-08 22:05] refried commented on #1618
Joda-Time has an Apache license.  Since Apache Harmony has a compatible license, does Joda-Time?

[2015-05-08 22:20] gzm0 commented on #1618
Yes. Joda-Time would have a compatible license. But since it would probably be best to port it in a separate project anyway, this would not really matter.

[2015-05-08 22:39] refried commented on #1618
Maybe I misunderstood, but a separate project wouldn't help people using java.time — right?

[2015-05-08 23:01] gzm0 commented on #1618
No. But someone could implement Joda-Time in a separate project. This would also allow people that still use JDK{6|7} to use it.

[2015-05-08 23:17] refried commented on #1618
Wait what? People who still use JDK{6|7} can just use Joda-Time directly.  Plus, this ticket is about `java.time.*` support.

[2015-05-10 07:03] #1527 closed

[2015-05-11 05:06] #1648 closed

[2015-05-11 12:55] #1625 closed

[2015-05-12 08:13] yawnt opened #1653 "java.lang.Class.cast() is missing"
`Class.cast(obj)` is not available in Scala-js, so the current implementation of `Future.mapTo` coming from the scala stdlib causes linking errors.
I suppose we could drop `.cast()` and just rely on `asInstanceOf[]`, sacrificing some safety

[2015-05-12 08:22] sjrd commented on #1653
Or, easier, implement `Class.cast()` by trivially returning `obj.asInstanceOf[T]`.

[2015-05-12 11:46] yawnt opened #1655 "Allow export of classes inside object"
In Akka classes are, most of the time, encapsulated in an outer object when they aren't exposed to the user:

[code]

It's a fairly standard pattern, but unfortunately the current implementation of `@JSExport` prevents from exporting nested classes.
If we could improve the annotation system to allow for such a behaviour, it would help tremendously!
Thanks :)

[2015-05-12 11:48] andreaTP commented on #1655
:+1:

[2015-05-12 12:50] yoeluk opened #1656 "applyDynamic does not support passing a vararg parameter"
it will be nice if it did so that one can do this

[code]

[2015-05-12 13:13] sjrd commented on #1656
Yea, that's a scalac bug, actually. You don't need `js.Dynamic.literal` per se. Any `applyDynamic` causes scalac to bug out. Please report this to the scalac JIRA tracker: https://issues.scala-lang.org/

[2015-05-12 13:48] yoeluk commented on #1656
Ok thanks. I reported here https://issues.scala-lang.org/browse/SI-9308

[2015-05-12 13:48] #1656 closed

[2015-05-12 17:52] gzm0 commented on #1655
This is IMO a very valid use case to have a separate way to make things reachable without exporting them to JS. The main issue with nested classes (not your example, truly nested classes, see #354) is that making them available from JavaScript is hard. Not eliminating them is trivial.

[2015-05-12 18:48] yawnt commented on #1655
my use case is a bit more complex.. take [this for instance](https://github.com/unicredit/akka.js/blob/master/akka-js-actor/shared/src/main/scala/akka/event/Logging.scala#L848)
I need to `@JSExport` it exclusively so I can dinamically instantiate it using `js.Dynamic`

[2015-05-13 13:39] sjrd commented on #1653
Ah, ah, well, this turns out to be *way* more complicated than I expected ^^ By definition, `classOf[C].cast(obj)` must be the dynamic equivalent of `obj.asInstanceOf[C]`, just like `classOf[C].isInstanceOf(obj)` must be the dynamic equivalent of `obj.isInstanceOf[C]`. We already had trouble implementing `isInstance` correctly for raw JS types.

In Unchecked behavior, `obj.asInstanceOf[C]` can ind

[2015-05-13 15:14] sjrd opened #1658 "Incorrect constant-folding of `classOf[T] === classOf[T]`."
Constant-folding a `===` of two literal `ClassOf`s always return `false`, e.g.:
[code]
prints `false`.

[2015-05-13 18:36] #1631 closed

[2015-05-14 15:53] maruns opened #1661 "Wrong exception stack trace"
Stack trace reported by exception is like this one:

    "Failure in async execution: TypeError: this$2 is null" scalajs-example-fastopt.js:57604:6
    $c_jl_JSConsoleBasedPrintStream.prototype.doWriteLine__p4__T__V() scalajs-example-fastopt.js:57604
    $c_jl_JSConsoleBasedPrintStream.prototype.printString__p4__T__V() scalajs-example-fastopt.js:57628
    $c_Ljava_io_PrintStream.prototype.println_

[2015-05-14 15:58] sjrd commented on #1661
What version of Scala.js are you using? We supposedly fixed that in 0.6.3 already.

[2015-05-14 17:46] maruns commented on #1661
0.6.2. I have missed next release. :(. Sorry for inconvenience.
I'm upgrading now.

[2015-05-14 17:46] #1661 closed

[2015-05-15 02:25] gzm0 commented on #1635
It definitely is separate from the incremental linker issue. But it is actually pretty hard to solve in our current classpath model.
@sjrd what do you think about that one? It is definitely fixable, the question is more how backwards compatible can we make the tools API...

[2015-05-15 02:25] gzm0 commented on #1635
I'll try and have a look at this one.